.place-order-container-with-data {
  width: 48rem;
  height: 30rem;
}
.place-order-container-no-data {
  width: 35rem;
  height: 10rem;
}
.card-header-container-custom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: #3b3f5c solid 1px;
}
.height-with-data {
  height: 10%;
}
.height-no-data {
  height: 20%;
}
.place-order-card {
  width: 100%;
  height: 100%;
}
.options-footer{
  width: 100%;
  height: 11%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.options-content {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: flex-end;
  padding: 2%;
}
.qfbs-container {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding: 3%;
}
.btn-manual-place{
  width: 6rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.margin-right-button{
  margin-right: 15px ;
}
.qfb-name {
  width: 49%;
  height: 100%;
  display: flex;
  align-items: center;
}
.orders-number{
  width: 17%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.numbers-qfb-container {
  padding: 5px;
}
.style-number-custom {
  font-weight: 800;
  border-radius: 10px;
}
.color-like-table {
  color: #3e6993 !important;
  font-weight: 800;
}
.color-pedidos {
  color: #BEB7B7 ;
}
.color-orders {
  color: #FC4242;
}
.color-piezas {
  color: #968e8e;
}
.mat-card-custom {
  cursor: pointer;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  padding: .5%;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand', serif !important;
}
.fab-orders-number{
  width: 80%;
  height: 80%;
}
.qfb-selected {
  background-color: #e0e5e9;
}
.content-card-container-custom {
  width: 100%;
  height: 90%;
}
.mat-card{
  border-radius: 0;
}
