<div class="place-order-container">
    <mat-card class="add-user-card">
        <mat-card-header class="card-header-container">
            <mat-card-title >
                <span *ngIf="placeData.placeOrdersData.modalType === 'Pedido' && placeData.placeOrdersData.list.length === 1">Asigna el pedido</span>
                <span *ngIf="placeData.placeOrdersData.modalType === 'Pedido' && placeData.placeOrdersData.list.length > 1">Asigna los pedidos</span>
                <span *ngIf="placeData.placeOrdersData.modalType === 'Orden' && placeData.placeOrdersData.list.length === 1">Asigna la orden</span>
                <span *ngIf="placeData.placeOrdersData.modalType === 'Orden' && placeData.placeOrdersData.list.length > 1">Asigna las ordenes</span>
            </mat-card-title>
            <mat-icon mat-dialog-close class="cursor-pointer">clear</mat-icon>
        </mat-card-header>
        <mat-card-content class="content-card-container-custom">
        <div class="options-content">
            <button mat-button class="btn-add-modal btn-manual-place btn--modal margin-right-button" (click)="changePlaceManual()">Manual</button>
            <button *ngIf="placeData.placeOrdersData.modalType === 'Pedido'"
                    mat-button class="btn-cancel-modal btn-manual-place btn&#45;&#45;modal"
                    (click)="placeOrderAutomatic()"
                    >Automático</button>
        </div>
          <div class="qfbs-container scroll-custom" *ngIf="isPlaceManual">
              <div class="qfb-with-orders" *ngFor="let qfb of qfbs">
                  <mat-card [ngClass]="idQfbSelected === qfb.userId ? 'qfb-selected' : ''" class="mat-card-custom" (click)="placeOrder(qfb.userId, qfb.userName)">
                      <div class="qfb-name">
                      <span class="margin-left-options">
                          {{qfb.userName}}
                      </span>
                      </div>
                      <div class="orders-number">
                          <button mat-mini-fab class="fab-orders-number color-omicron">
                              {{qfb.countTotal}}
                          </button>
                      </div>
                  </mat-card>
              </div>


          </div>
        </mat-card-content>
    </mat-card>
</div>
