<div class="container-list-page">
  <div class="header-page">
    <div class="title-list-container">
      <span>Pedidos</span>
    </div>
  </div>

  <!--<mat-form-field appearance="fill">
    <mat-label>Mostrar pedidos:</mat-label>
    <mat-select>
      <mat-option value="Diarios">
        Diarios
      </mat-option>
      <mat-option value="Semanales">
        Semanales
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class=" clearfix">
    <div class="start-element mobile-center-input">
      <mat-form-field >
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar...">       
      </mat-form-field>
    </div>
  </div>-->

  <!--<div class="last-element mobile-complete-btn mobile-bottom-item">
    <button mat-raised-button class="button-cta ">
      <mat-icon aria-hidden="false">person_add</mat-icon>
      &nbsp; Crear Nuevo Registro &nbsp; 
    </button>
  </div>-->
  <div class="list-users-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="seleccion">&nbsp;
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (click)="toggleSelection();"></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element" class="">
              <mat-checkbox ></mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="cons">
            <th mat-header-cell *matHeaderCellDef class="centered"> #</th>
            <td mat-cell *matCellDef="let element" class="color-text-intables tdcell"> {{element.cons}} </td>
          </ng-container>
        
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef class="mobile-hide"> CÓDIGO </th>
            <td mat-cell *matCellDef="let element" class="color-text-intables tdcell tdemail mobile-hide"> {{element.codigo}} </td>
          </ng-container>
        
          <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef class="mobile-hide">  NOMBRE DEL CLIENTE </th>
            <td mat-cell *matCellDef="let element" class="color-text-intables tdcell tdphone mobile-hide"> {{element.cliente}} </td>
          </ng-container>
  
          <ng-container matColumnDef="medico">
            <th mat-header-cell *matHeaderCellDef class="mobile-hide">  NOMBRE DEL MEDICO </th>
            <td mat-cell *matCellDef="let element" class="color-text-intables tdcell mobile-hide"> {{element.medico}} </td>
          </ng-container>

          <ng-container matColumnDef="asesor">
            <th mat-header-cell *matHeaderCellDef class="mobile-hide">  NOMBRE DEL ASESOR </th>
            <td mat-cell *matCellDef="let element" class="color-text-intables tdcell mobile-hide"> {{element.asesor}} </td>
          </ng-container>

          <ng-container matColumnDef="f_inicio">
            <th mat-header-cell *matHeaderCellDef class="centered mobile-hide">  FECHA INICIO </th>
            <td mat-cell *matCellDef="let element" class="color-text-intables tdcell tdcell-center mobile-hide"> {{element.f_inicio}} </td>
          </ng-container>

          <ng-container matColumnDef="f_fin">
            <th mat-header-cell *matHeaderCellDef class="centered mobile-hide">  FECHA FINALIZACIÓN </th>
            <td mat-cell *matCellDef="let element" class="color-text-intables tdcell tdcell-center mobile-hide"> {{element.f_fin}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="centered mobile-hide">  ESTATUS </th>
            <td mat-cell *matCellDef="let element" class="color-text-intables tdcell tdcell-center mobile-hide"> <button mat-stroked-button color="primary">{{element.status}}</button> </td>
          </ng-container>

          <ng-container matColumnDef="qfb_asignado">
            <th mat-header-cell *matHeaderCellDef class="centered mobile-hide">  QFB ASIGNADO </th>
            <td mat-cell *matCellDef="let element" class="color-text-intables tdcell tdcell-center mobile-hide"> {{element.qfb_asignado}} </td>
          </ng-container>
  
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef  class="centered">  ACCIONES </th>
            <td mat-cell *matCellDef="let element" class="tdcell tdcell-center tdactions"> 
                <button mat-icon-button class="ico-col-pri" >
                  <mat-icon >article</mat-icon>
                </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns" class="color-text-intables"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
