<div class="container-list-page">
  <div class="header-page">
    <div class="title-list-container">
      <span>Pedidos</span>
    </div>
    <div class="filter-select">
      <button mat-button [matMenuTriggerFor]="menu" class="select-button">Mostrar pedidos: <span #menuValue>Mensuales</span></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setSpanTitle(menuValue, 'Mensuales', 'month')">Mensuales</button>
        <button mat-menu-item (click)="setSpanTitle(menuValue, 'Del día', 'today')">Del día</button>
        <button mat-menu-item (click)="setSpanTitle(menuValue, 'Semanales', 'date')">Semanales</button>
        <button mat-menu-item (click)="setSpanTitle(menuValue, 'Quincenales', 'twoweeks')">Quincenales</button>
      </mat-menu>
    </div>
  </div>

  <div class="table-toolbar">
    <div class="table-toolbar-search">
      <mat-form-field >
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar...">       
      </mat-form-field>
    </div>
    <div class="table-toolbar-buttons">
      <button mat-raised-button class="button-blue ">
        &nbsp; Procesar &nbsp; 
      </button>
      &nbsp;
      &nbsp;
      <button mat-raised-button class="button-blue ">
        &nbsp; Asignar &nbsp; 
      </button>
      &nbsp;
      &nbsp;
      <button mat-raised-button class="button-blue ">
        &nbsp; Finalizar &nbsp; 
      </button>
      &nbsp;
      &nbsp;
      <button mat-raised-button class="button-blue ">
        &nbsp; Cancelar &nbsp; 
      </button>
      &nbsp;
      &nbsp;
      <button mat-raised-button class="button-blue ">
        &nbsp; Filtrar &nbsp; 
      </button>
    </div>
  </div>

  <div class="list-users-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="seleccion">&nbsp;
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox [checked]="allComplete" [indeterminate]="someComplete()" (change)="setAll($event.checked)"></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element" class="seleccion">
              <mat-checkbox [(ngModel)]="element.isChecked" (ngModelChange)="updateAllComplete()"></mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="cons">
            <th mat-header-cell *matHeaderCellDef class="">DOCUMENTO</th>
            <td mat-cell *matCellDef="let element" class="color-text-intables tdcell documento"> {{element.docNum}} </td>
          </ng-container>
        
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef class="mobile-hide"> CÓDIGO </th>
            <td mat-cell *matCellDef="let element" class="color-text-intables tdcell mobile-hide codigocliente"> {{element.codigo}} </td>
          </ng-container>
        
          <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef class="mobile-hide">  NOMBRE DEL CLIENTE </th>
            <td mat-cell *matCellDef="let element" class="color-text-intables tdcell tdphone mobile-hide cliente"> {{element.cliente}} </td>
          </ng-container>
  
          <ng-container matColumnDef="medico">
            <th mat-header-cell *matHeaderCellDef class="mobile-hide">  NOMBRE DEL MEDICO </th>
            <td mat-cell *matCellDef="let element" class="color-text-intables tdcell mobile-hide medico"> {{element.medico}} </td>
          </ng-container>

          <ng-container matColumnDef="asesor">
            <th mat-header-cell *matHeaderCellDef class="mobile-hide">  NOMBRE DEL ASESOR </th>
            <td mat-cell *matCellDef="let element" class="color-text-intables tdcell mobile-hide asesor"> {{element.asesorName}} </td>
          </ng-container>

          <ng-container matColumnDef="f_inicio">
            <th mat-header-cell *matHeaderCellDef class="centered mobile-hide">  FECHA INICIO </th>
            <td mat-cell *matCellDef="let element" class="color-text-intables tdcell tdcell-center mobile-hide fechainicio"> {{element.fechaInicio.substring(10, 0)}} </td>
          </ng-container>

          <ng-container matColumnDef="f_fin">
            <th mat-header-cell *matHeaderCellDef class="centered mobile-hide">  FECHA FINALIZACIÓN </th>
            <td mat-cell *matCellDef="let element" class="color-text-intables tdcell tdcell-center mobile-hide fechatermino"> {{element.fechaFin.substring(10, 0)}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="centered mobile-hide">  ESTATUS </th>
            <td mat-cell *matCellDef="let element" class="color-text-intables tdcell tdcell-center mobile-hide status"> <button mat-stroked-button color="primary">{{element.pedidoStatus}}</button> </td>
          </ng-container>

          <ng-container matColumnDef="qfb_asignado">
            <th mat-header-cell *matHeaderCellDef class="centered mobile-hide">  QFB ASIGNADO </th>
            <td mat-cell *matCellDef="let element" class="color-text-intables tdcell tdcell-center mobile-hide qfb"> {{element.qfb}} </td>
          </ng-container>
  
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef  class="centered">  ACCIONES </th>
            <td mat-cell *matCellDef="let element" class="tdcell tdcell-center tdactions"> 
                <button mat-icon-button class="ico-col-pri" [routerLink]="['/pdetalle', element.docNum]">
                  <mat-icon >article</mat-icon>
                </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns" class="color-text-intables"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
