<div class="container-list-page">
    <div class="header-page">
        <div class="title-list-container">
            <span>Incidencias</span>
        </div>
        <div class="filter-select">
            <app-range-date maxMonthsRange="3" typeInitialRange="1" (newRangeEvent)="checkNewRange($event)"></app-range-date>
        </div>
    </div>
    <div class="list-users-container custom-content-container">

        <div class="graphs-container">
            <div class="incidents-container">
                <span class="title-graph">Tipo de falla: </span>
                <div class="only-graph-container">
                    <app-graph-show [configurationGraph]="incidentsGraphCOnf" (newItemsIndicatorsEmitter)="newIteratorsEvent($event)"></app-graph-show>
                </div>
                <div class="indicators-pie-container">
                    <div class="indicator-container" *ngFor="let indicator of newIndicators">
                        <div class="color-indicator"  [ngStyle]="{'background-color': indicator.background}"  >

                        </div>
                        <span class="text-indicator">
                            {{indicator.nameItem}} : {{indicator.count}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="incidents-container">
                <span class="title-graph">Estatus:</span>
                <app-graph-show [configurationGraph]="statusGraph"></app-graph-show>
            </div>
        </div>

    </div>
</div>




