.custom-content-container {
  margin-bottom: 0 !important;

  .graphs-container {
    width: 100%;
    display: flex;
    flex-direction: row;

    .incidents-container {
      width: 50%;
    }
  }
}
