<div class="container-list-page">
    <div class="header-page">
        <div class="title-list-container">
            <span>Incidencias</span>
        </div>
        <div class="filter-select">

        </div>
    </div>
    <div class="list-users-container custom-content-container">
        <div class="range-container">
            <app-range-date></app-range-date>
        </div>
        content
    </div>
</div>
<!--<div class="container-list-page">
    <app-range-date range="12345" (newRangeEvent)="checkNewRange($event)">
    </app-range-date>
    <p>incidents works!</p>
    <canvas #incidentsChart width="100%" height="33" style="margin-top: 5px;">
    </canvas>
</div>-->



