<div class="container-list-page">
    <div class="header-page">
        <div class="title-list-container">
            <span>Incidencias</span>
        </div>
        <div class="filter-select">

        </div>
    </div>
    <div class="list-users-container custom-content-container">
        <div class="range-container">
            <app-range-date maxMonthsRange="3" typeInitialRange="1" (newRangeEvent)="checkNewRange($event)"></app-range-date>
        </div>
        <div class="graphs-container">
            <div class="incidents-container">
                <app-graph-show [configurationGraph]="incidentsGraphCOnf"></app-graph-show>
            </div>
            <div class="incidents-container">

            </div>
        </div>

    </div>
</div>




