<div class="container-list-page">
    <div class="header-page">
        <div class="title-list-container">
            <span>Usuarios</span>
        </div>
        <div class="add-user-container">
            <button mat-raised-button class="ico-col-pri" (click)="deleteUsers('')">
                <img src="assets/icons/delete.svg" alt="edit">
            </button>

            <button mat-raised-button class="button-blue-user-list" (click)="openDialog('addModal','')">
                <img src="assets/icons/add-user.svg" alt="add user">
            </button>

            <button mat-raised-button class="button-blue-user-list" (click)="openSearchUsers()">
                <mat-icon
                    *ngIf="searchUsersData.activoSe && searchUsersData.activoSe !== '' ||
                                 searchUsersData.asignableSe && searchUsersData.asignableSe !== '' ||
                                 searchUsersData.firstNameSe && searchUsersData.firstNameSe !== '' ||
                                 searchUsersData.lastNameSe && searchUsersData.lastNameSe !== '' ||
                                 searchUsersData.userNameSe && searchUsersData.userNameSe !== '' ||
                                 searchUsersData.userTypeRSe && searchUsersData.userTypeRSe !== '' || 
                                 searchUsersData.classificationQFBSe && searchUsersData.classificationQFBSe !== '' ">search
                </mat-icon>
                Buscar
            </button>
        </div>
    </div>
    <div class="list-users-container">
        <div class="table-container mt-15">
            <table mat-table [dataSource]="dataSource" [ngClass]="dataSource.data.length !== 0 ? 'mat-elevation-z8': ''"
                aria-describedby>
                <ng-container matColumnDef="delete" sticky>
                    <th scope="row" mat-header-cell *matHeaderCellDef>
                        <mat-checkbox [checked]="isAllComplete" [indeterminate]="someComplete()"
                            (change)="setAll($event.checked)">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element" class="custom-min-width">
                        <mat-checkbox [(ngModel)]="element.isChecked" (ngModelChange)="updateAllComplete()">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="username">
                    <th scope="row" mat-header-cell class="centered" *matHeaderCellDef> USUARIO </th>
                    <td mat-cell *matCellDef="let element" class="color-text-intables tdcell-center tdcell">
                        {{element.userName }} </td>
                </ng-container>

                <ng-container matColumnDef="names">
                    <th scope="row" mat-header-cell class="centered" *matHeaderCellDef> NOMBRE(S) </th>
                    <td mat-cell *matCellDef="let element" class="color-text-intables tdcell-center tdcell">
                        {{element.firstName | uppercase}} </td>
                </ng-container>

                <ng-container matColumnDef="lastName">
                    <th scope="row" mat-header-cell class="centered mobile-hide" *matHeaderCellDef> APELLIDO(S) </th>
                    <td mat-cell *matCellDef="let element" class="color-text-intables tdcell mobile-hide tdcell-center">
                        {{element.lastName | uppercase}} </td>
                </ng-container>

                <ng-container matColumnDef="role">
                    <th scope="row" mat-header-cell class="centered mobile-hide" *matHeaderCellDef> ROL</th>
                    <td mat-cell *matCellDef="let element"
                        class="color-text-intables tdcell text-center mobile-hide tdcell-center">
                        <span *ngIf="element.role === 2">QFB</span>
                        <span *ngIf="element.role === 1">ADMINISTRADOR</span>
                        <span *ngIf="element.role === 3">LOGÍSTICA</span>
                        <span *ngIf="element.role === 4">DISEÑO</span>
                        <span *ngIf="element.role === 5">ALMACÉN</span>
                        <span *ngIf="element.role === 6">REPARTIDOR</span>
                        <span *ngIf="element.role === 7">INCIDENCIAS</span>
                        <span *ngIf="element.role === 8">REPARTIDOR CAC </span>
                        <span *ngIf="element.role === 9">TÉCNICO </span>
                    </td>

                </ng-container>

                <ng-container matColumnDef="clasfqf">
                    <th scope="row" mat-header-cell class="centered mobile-hide" *matHeaderCellDef> CLASIFICACIÓN</th>
                    <td mat-cell *matCellDef="let element"
                        class="color-text-intables tdcell text-center mobile-hide tdcell-center">
                        {{element.role === 2 ? element.fullClasification : 'NO APLICA'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="pieces">

                    <th scope="row" mat-header-cell class="centered mobile-hide" *matHeaderCellDef> PIEZAS MÁXIMAS</th>
                    <td mat-cell *matCellDef="let element"
                        class="color-text-intables tdcell text-center mobile-hide tdcell-center">
                        {{element.role === 2 ? element.piezas : 'NO APLICA'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="asignable">

                    <th scope="row" mat-header-cell class="centered mobile-hide" *matHeaderCellDef> ASIGNACIONES</th>
                    <td mat-cell *matCellDef="let element"
                        class="color-text-intables tdcell text-center mobile-hide tdcell-center">
                        {{element.role === 2 ? element.asignable === 1 ? 'ENCENDIDO' : 'APAGADO' : 'NO APLICA'}}
                    </td>

                </ng-container>
                <ng-container matColumnDef="status">
                    <th scope="row" mat-header-cell class="centered mobile-hide mobile-hide" *matHeaderCellDef> ESTATUS
                    </th>
                    <td mat-cell *matCellDef="let element" class="color-text-intables tdcell text-center mobile-hide">
                        {{element.activo == 1 ? "ACTIVO" : "INACTIVO"}} </td>
                </ng-container>

                <ng-container matColumnDef="actions" stickyEnd>
                    <th scope="row" mat-header-cell class="centered mobile-hide mobile-hide" *matHeaderCellDef> ACCIONES
                    </th>
                    <td mat-cell *matCellDef="let element" class="tdcell tdcell-center tdactions custom-min-width">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item class="d-flex align-items-center"
                                (click)="openDialog('editModal',element.id)">
                                <img src="assets/icons/edit.svg" alt="edit" width="20" height="20" class="pr-2">
                                <span>Editar</span>
                            </button>
                            <button mat-menu-item class="d-flex align-items-center"
                                (click)="openWorkFlowDialog(element)"
                                *ngIf="element.role === 2 && element.tecnicId !== null ||  element.role === 9">
                                <img src="assets/icons/team.svg" alt="team" width="20" height="20" class="pr-2">
                                <span>Equipo de trabajo</span>
                            </button>
                            <button mat-menu-item class="d-flex align-items-center" (click)="deleteUsers(element.id)">
                                <img src="assets/icons/delete.svg" alt="delete" width="20" height="20" class="pr-2">
                                <span>Eliminar</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            <div class="no-users-registered mat-elevation-z8" *ngIf="dataSource.data.length === 0">
                <span *ngIf="!isOnInit">No hay usuarios registrados</span>
                <span *ngIf="isOnInit"> Cargando usuarios ...</span>
            </div>
        </div>
        <div *ngIf="dataSource.data.length !== 0" class="paginator-container">
            <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" [pageSize]="pageSize" [length]="lengthPaginator"
                [pageIndex]="pageIndex" (page)="pageEvent = changeDataEvent($event)"></mat-paginator>

        </div>
    </div>
</div>