.add-user-container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.delete-many-icon{
  text-align: center;
}

/*td.mat-cell { //to see pretty
  !* row padding *!
  padding: 16px 0;
  margin: 10px;
  !* row border *!
  border-bottom: 1px solid #ffa600;
  border-top: 1px solid #ffa600;
}

td.mat-cell:first-child {
  !* row border *!
  border-left: 1px solid #ffa600;
}

td.mat-cell:last-child {
  !* row border *!
  border-right: 1px solid #ffa600;
}

table {
  !* row spacing / margin *!
  border-spacing: 0 8px !important;
}*/
.tr-custom{
  height: 30px !important;
  box-shadow: 0 2px 4px rgba(126,142,177,0.45) !important;
  margin: 5px !important;
}
