.add-user-container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.delete-many-icon{
  text-align: center;
}
.icon-add{
  cursor: pointer;
}

.icon-many-delete svg{
  cursor: pointer;
  color: #515365;
  width: 20px;
  fill: rgba(27, 85, 226, 0.23921568627450981);
}

.tr-custom{
  height: 30px !important;
  box-shadow: 0 2px 4px rgba(110, 112, 117, 0.45) !important;
  margin: 5px !important;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background: #6C90B3 !important; 
}
.button-blue-user-list {
    background-color: #6C90B3 !important;
    color: #fff !important;
    margin-left: 15px !important;
}
