.seleccion{
    width: 3% !important;
}

.consecutivo{
    width: 3% !important;
}

.of{
    width: 8% !important;
}

.codigoproducto{
    width: 11% !important;
}

.descripcionproducto{
    width: 16% !important;
}

.cantplan{
    width: 8% !important;
}

.fechaorden{
    width: 10% !important;
}

.fechatermino{
    width: 10% !important;
}

.qfb{
    width: 11% !important;
}

.status{
    width: 10% !important;
}

.tdactions{
    width: 10% !important;
}