div.docbase {
    margin-top: 5% !important;
}

.seleccion {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
}

.consecutivo {
    width: 3% !important;
}

.pedido {
    width: 95px;
    min-width: 95px;
    max-width: 95px;
    left: 50px !important;
}

.orden {
    width: 140px;
    min-width: 140px;
    max-width: 140px;
    left: 145px !important;
}

.codigoproducto {
    width: 140px;
    min-width: 140px;
    max-width: 140px;
    left: 285px !important;
}

.descripcion {
    width: 215px;
    min-width: 215px;
    max-width: 215px;
}

.cantplan {
    width: 140px;
    min-width: 140px;
    max-width: 140px;
}

.batch-order {
    width: 95px;
    min-width: 95px;
    max-width: 95px;
}

.fechaorden {
    width: 155px;
    min-width: 155px;
    max-width: 155px;
}

.fechatermino {
    width: 155px;
    min-width: 155px;
    max-width: 155px;
}

.qfb {
    width: 125px;
    min-width: 125px;
    max-width: 125px;
}

.status {
    width: 110px;
    min-width: 110px;
    max-width: 110px;
}

.tdactions {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
}

.background-color-in-process {
    background-color: #e7515a;
    margin-left: 15px;
    color: white;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background: #0081C2 !important;
}

button.btnToolTip {
    font-size: 10px !important;
    text-align: left !important;
    padding: 0 !important;
    cursor: text !important;
}

// MARK: Estilos tabla de ordenes

.orders-table-conatiner {
    width: 100%;
    overflow-x: auto;

    table {
        min-width: 1700px;
    }
}

.element-detail {
    overflow: hidden;
    width: 100%;
    min-height: 50px;

    .children-order-header {
        min-height: 50px;
        background-color: #EDF9FF;
        font-weight: bold;
    }

    .child-order-row {
        min-height: 50px;
        border-top: 1px solid #9FD9F9;
        background-color: #EDF9FF;
    }

    .w-5 {
        width: 5%;
    }

    .w-10 {
        width: 10%;
    }

    .w-15 {
        width: 15%;
    }
}

.example-element-row {
    height: 0;
}

.element-row {
    transition: background-color 0.3s ease;
}

.element-row.expanded-row {
    background-color: #9FD9F9 !important;
}