<div class="container-list-page">
    <div class="header-page">
        <div class="title-list-container">
            <span>Órdenes de fabricación</span>
        </div>
        <div class="filter-select" *ngIf="!filterDataOrders.docNum || filterDataOrders.docNum === 0">
            <span class="dateType" *ngIf="isDateInit">
                Fecha orden de fabricación:
            </span>
            <span class="dateType" *ngIf="!isDateInit">
                Fecha de término QFB:
            </span>
            <span class="date-selected">
              {{  filterDataOrders.dateFull | dateformat}}
            </span>

        </div>
        <div class="filter-select" *ngIf="filterDataOrders.docNum && filterDataOrders.docNum !== 0">
            <span class="dateType">
                Rango de ordenes buscado:
            </span>
            <span class="date-selected">
                {{ filterDataOrders.docNum}}-{{filterDataOrders.docNumUntil ? filterDataOrders.docNumUntil : filterDataOrders.docNum}}
            </span>
        </div>
    </div>

    <div class="table-toolbar">
        <div class="refresh-icon-on-toolbar " (click)="getOrdersAction()">
            <app-button-refresh></app-button-refresh>
        </div>
        <div class="table-toolbar-buttons">
            <button mat-raised-button class="button-blue"
                    (click)="createOrderIsolated()" >Crear orden</button>
            <button mat-raised-button
                    class="button-blue"
                    (click)="materialRequestIsolatedOrder()">
                Solicitud de insumos
            </button>
            <button [disabled]="!isAssignOrderIsolated" mat-raised-button [ngClass]="isAssignOrderIsolated ? 'button-blue' : 'disable-button'" (click)="assignOrderIsolated()" >
            Asignar
            </button>
            <button [disabled]="!isReAssignOrderIsolated" mat-raised-button
                    [ngClass]="isReAssignOrderIsolated ? 'button-blue' : 'disable-button'" (click)="reAssignOrder()" >Reasignar</button>
            <button [disabled]="!isFinalizeOrderIsolated" mat-raised-button
                    [ngClass]="isFinalizeOrderIsolated ? 'button-blue' : 'disable-button'" (click)="finalizeOrder()" >Finalizar</button>

            <button [disabled]="!isThereOrdersIsolatedToCancel" mat-raised-button
                    [ngClass]="isThereOrdersIsolatedToCancel ? 'button-blue' : 'disable-button'"
                    (click)="cancelOrder()" >Cancelar</button>

            <button mat-raised-button class="button-blue margin-left-options" (click)="openSearchOrders()" >
                <mat-icon *ngIf="isSearchOrderWithFilter">search
                </mat-icon>Buscar</button>
        </div>
    </div>

    <div class="list-users-container">
        <div  class="table-container scroll-custom">
            <table mat-table [dataSource]="dataSource"  [ngClass]="dataSource.data.length !== 0 ? 'mat-elevation-z8': ''">
                <ng-container matColumnDef="seleccion">&nbsp;
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox [checked]="allComplete" [indeterminate]="someComplete()" (change)="setAll($event.checked)"></mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element" class="seleccion">
                        <mat-checkbox [(ngModel)]="element.isChecked" (ngModelChange)="updateAllComplete()"></mat-checkbox>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="pedido">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide"> PEDIDO </th>
                    <td mat-cell *matCellDef="let element" class="color-text-intables tdcell mobile-hide pedido"> {{ element.docNum !== 0 ? element.docNum :  '' }} </td>
                </ng-container>

                <ng-container matColumnDef="orden">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide">  N° DE ORDEN DE FABRICACIÓN </th>
                    <td mat-cell *matCellDef="let element" class="color-text-intables tdcell tdphone mobile-hide orden"> {{element.fabOrderId}} </td>
                </ng-container>

                <ng-container matColumnDef="codigoproducto">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide">  CÓDIGO DEL PRODUCTO </th>
                    <td mat-cell *matCellDef="let element" class="color-text-intables tdcell mobile-hide codigoproducto"> {{element.itemCode}} </td>
                </ng-container>

                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide">  DESCRIPCIÓN DEL PRODUCTO </th>
                    <td mat-cell matTooltip="{{element.description}}"
                    matTooltipPosition="right"
                    aria-label="Button that displays a tooltip in various positions" *matCellDef="let element" class="color-text-intables tdcell mobile-hide descripcion"> {{ (element.description.length > 42) ? (element.description | slice: 0:42) + '...' : element.description }} </td>
                </ng-container>

                <ng-container matColumnDef="cantidadplanificada">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide centered">  CANTIDAD PLANIFICADA </th>
                    <td mat-cell *matCellDef="let element" class="color-text-intables tdcell mobile-hide cantplan tdcell-center"> {{element.quantity}} </td>
                </ng-container>
                <ng-container matColumnDef="lote">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide centered">  LOTE </th>
                    <td mat-cell *matCellDef="let element" class="color-text-intables tdcell mobile-hide batch-order tdcell-center"> {{element.batch || ''}} </td>
                </ng-container>

                <ng-container matColumnDef="fechaorden">
                    <th mat-header-cell *matHeaderCellDef class="centered mobile-hide">  FECHA ORDEN DE FABRICACIÓN </th>
                    <td mat-cell *matCellDef="let element" class="color-text-intables tdcell tdcell-center mobile-hide fechaorden"> {{element.createDate.substring(10, 0)}} </td>
                </ng-container>

                <ng-container matColumnDef="fechatermino">
                    <th mat-header-cell *matHeaderCellDef class="centered mobile-hide">  FECHA DE TÉRMINO (QFB) </th>
                    <td mat-cell *matCellDef="let element" class="color-text-intables tdcell tdcell-center mobile-hide fechatermino"> {{element.finishDate.substring(10, 0)}} </td>
                </ng-container>

                <ng-container matColumnDef="qfbasignado">
                    <th mat-header-cell *matHeaderCellDef class="centered mobile-hide">  QFB ASIGNADO </th>
                    <td mat-cell *matCellDef="let element" class="color-text-intables tdcell tdcell-center mobile-hide qfb"> {{element.qfb}} </td>
                </ng-container>

                <ng-container matColumnDef="estatus">
                    <th mat-header-cell *matHeaderCellDef class="centered mobile-hide">  ESTATUS DE LA ORDEN </th>
                    <td mat-cell *matCellDef="let element" class="color-text-intables tdcell tdcell-center mobile-hide status style-button-status">
                        <div class="center-status">
                            <button mat-stroked-button
                                    [ngClass]="element.status.toLowerCase() === 'c' ? 'close-sap' : element.class"
                                    class="cursor-none">
                                {{element.status.toLowerCase() === 'c' ? 'Cerrado' : element.status }}</button>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef  class="centered">  ACCIONES </th>
                    <td mat-cell *matCellDef="let element" class="tdcell tdcell-center tdactions"> 
                        <button mat-icon-button matTooltip="Ver fórmula" class="ico-col-pri" *ngIf="element.ordenFabricacionId !== 0" (click)="goToFormulaDetail(element.fabOrderId)">
                          <mat-icon >
                              <svg *ngIf="!element.hasMissingStock" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" width="2em" height="2em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path d="M27.231 23.618L20 13.675V4h2V2H10v2h2v9.675l-7.231 9.943A4.018 4.018 0 0 0 8.019 30H23.98a4.018 4.018 0 0 0 3.25-6.382zM14 14.325V4h4v10.325L20.673 18h-9.346zM23.981 28H8.02a2.02 2.02 0 0 1-1.633-3.206L9.873 20h12.254l3.487 4.794A2.02 2.02 0 0 1 23.981 28z" fill="#626262"></path></svg>
                              <svg *ngIf="element.hasMissingStock" xmlns="http://www.w3.org/2000/svg" width="23.283" height="19.536" viewBox="0 0 23.283 19.536"><defs><style>.a{opacity:0.406;}.b{fill:#ff0041;}.b,.d{stroke:#ff0041;}.c,.d{fill:none;stroke-width:2px;}.c{stroke:#fff;}.d{stroke-linecap:round;opacity:0.996;}</style></defs><g class="a" transform="translate(-798.24 -173.937)"><g transform="translate(255.387 -355.563)"><g transform="translate(547.256 530)"><path class="b" d="M17.425,14.493,13.246,8.747V3.156H14.4V2H7.467V3.156H8.623V8.747L4.444,14.493a2.322,2.322,0,0,0,1.878,3.688h9.224a2.322,2.322,0,0,0,1.878-3.688ZM9.779,9.123V3.156h2.312V9.123l1.545,2.124h-5.4Zm5.768,7.9H6.323a1.167,1.167,0,0,1-.944-1.853L7.394,12.4h7.082l2.015,2.77a1.167,1.167,0,0,1-.944,1.853Z" transform="translate(-4 -2)"/></g><line class="c" x1="19.071" y2="16.181" transform="translate(543.5 531.445)"/></g><line class="d" x1="19.071" y2="16.181" transform="translate(801.043 175.882)"/></g></svg>
                          </mat-icon>

                        </button>
                    </td>
                  </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="color-text-intables"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div class="no-users-registered mat-elevation-z8" *ngIf="dataSource.data.length === 0">
                <span *ngIf="!isOnInit">No hay órdenes registradas</span>
                <span *ngIf="isOnInit"> Cargando órdenes de fabricación ...</span>
            </div>
        </div>
        <div *ngIf="dataSource.data.length !== 0" class="paginator-container">
            <mat-paginator
                    [pageSizeOptions]="[5, 10, 15 ,20]"
                    [pageSize]="limit"
                    [length]="lengthPaginator"
                    [pageIndex]="pageIndex"
                    (page)="pageEvent = changeDataEvent($event)"
            ></mat-paginator>
        </div>
    </div>
</div>

