.fecha {
  font-weight: bold !important;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}

.center {
  text-align: center;
} 

.list-users-container{
  margin-bottom: 30px !important;
}
.with-date-custom{
  width: 25%;
}
.title-date-productivity {
  height: 100%;
  margin-top: 3%;
  margin-right: 2%;
}
