<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   PrivacyInfo.xcprivacy
   OmicronAlmacen

   Created by Daniel Vargas on 22/05/24.
   Copyright (c) 2024 AxityDev. All rights reserved.
-->
<plist version="1.0">
  <dict>
        <key>NSPrivacyAccessedAPITypes</key>
        <array>
            <!-- Access to Camera -->
            <dict>
                <key>NSPrivacyAccessedAPIType</key>
                <string>NSPrivacyAccessedAPICategoryCamera</string>
                <key>NSPrivacyAccessedAPITypeReasons</key>
                <array>
                    <string>La cámara se usará para escanear Códigos de barra y QR</string>
                </array>
            </dict>
            <!-- Access to File Manager -->
            <dict>
                <key>NSPrivacyAccessedAPIType</key>
                <string>NSPrivacyAccessedAPICategoryFileManager</string>
                <key>NSPrivacyAccessedAPITypeReasons</key>
                <array>
                    <string>El gestor de archivos se usará para guardar el QR</string>
                </array>
            </dict>
            <!-- Access to Network API Calls -->
            <dict>
                <key>NSPrivacyAccessedAPIType</key>
                <string>NSPrivacyAccessedAPICategoryNetwork</string>
                <key>NSPrivacyAccessedAPITypeReasons</key>
                <array>
                    <string>Llamadas a APIs para funcionamiento de la aplicacion.</string>
                </array>
            </dict>
             <!-- Access to Background Processing -->
            <dict>
                <key>NSPrivacyAccessedAPIType</key>
                <string>NSPrivacyAccessedAPICategoryBackgroundTasks</string>
                <key>NSPrivacyAccessedAPITypeReasons</key>
                <array>
                    <string>Used to process data in the background to ensure timely analytics reporting.</string>
                </array>
            </dict>
            <!-- Firebase Analytics -->
            <dict>
                <key>NSPrivacyAccessedAPIType</key>
                <string>NSPrivacyAccessedAPICategoryFirebaseAnalytics</string>
                <key>NSPrivacyAccessedAPITypeReasons</key>
                <array>
                    <string>Used to collect and analyze app usage data.</string>
                </array>
            </dict>
            <!-- Firebase Authentication -->
            <dict>
                <key>NSPrivacyAccessedAPIType</key>
                <string>NSPrivacyAccessedAPICategoryFirebaseAuthentication</string>
                <key>NSPrivacyAccessedAPITypeReasons</key>
                <array>
                    <string>Used to authenticate users securely.</string>
                </array>
            </dict>
            <!-- Firebase Firestore -->
            <dict>
                <key>NSPrivacyAccessedAPIType</key>
                <string>NSPrivacyAccessedAPICategoryFirebaseFirestore</string>
                <key>NSPrivacyAccessedAPITypeReasons</key>
                <array>
                    <string>Used to store and sync app data in real-time.</string>
                </array>
            </dict>
            <!-- Firebase Storage -->
            <dict>
                <key>NSPrivacyAccessedAPIType</key>
                <string>NSPrivacyAccessedAPICategoryFirebaseStorage</string>
                <key>NSPrivacyAccessedAPITypeReasons</key>
                <array>
                    <string>Used to store user-generated content.</string>
                </array>
            </dict>
            <!-- RxSwift and RxRelay -->
            <dict>
                <key>NSPrivacyAccessedAPIType</key>
                <string>NSPrivacyAccessedAPICategoryConcurrency</string>
                <key>NSPrivacyAccessedAPITypeReasons</key>
                <array>
                    <string>Used for managing asynchronous operations in the app.</string>
                </array>
            </dict>
            <!-- GoogleDataTransport -->
            <dict>
                <key>NSPrivacyAccessedAPIType</key>
                <string>NSPrivacyAccessedAPICategoryNetwork</string>
                <key>NSPrivacyAccessedAPITypeReasons</key>
                <array>
                    <string>Used to transport data to Google servers for analytics and crash reporting.</string>
                </array>
            </dict>
            <!-- FirebaseCrashlytics -->
            <dict>
                <key>NSPrivacyAccessedAPIType</key>
                <string>NSPrivacyAccessedAPICategoryCrashReporting</string>
                <key>NSPrivacyAccessedAPITypeReasons</key>
                <array>
                    <string>Used to report and analyze app crashes.</string>
                </array>
            </dict>
            <!-- FBLPromises -->
            <dict>
                <key>NSPrivacyAccessedAPIType</key>
                <string>NSPrivacyAccessedAPICategoryConcurrency</string>
                <key>NSPrivacyAccessedAPITypeReasons</key>
                <array>
                    <string>Used for handling asynchronous operations using promises.</string>
                </array>
            </dict>
            <!-- GoogleUtilities -->
            <dict>
                <key>NSPrivacyAccessedAPIType</key>
                <string>NSPrivacyAccessedAPICategoryUtilities</string>
                <key>NSPrivacyAccessedAPITypeReasons</key>
                <array>
                    <string>Used for common utility functions required by other Firebase libraries.</string>
                </array>
            </dict>
            <!-- nanopb -->
            <dict>
                <key>NSPrivacyAccessedAPIType</key>
                <string>NSPrivacyAccessedAPICategorySerialization</string>
                <key>NSPrivacyAccessedAPITypeReasons</key>
                <array>
                    <string>Used for efficient serialization and deserialization of data.</string>
                </array>
            </dict>
            <!-- FirebaseInstallations -->
            <dict>
                <key>NSPrivacyAccessedAPIType</key>
                <string>NSPrivacyAccessedAPICategoryInstallations</string>
                <key>NSPrivacyAccessedAPITypeReasons</key>
                <array>
                    <string>Used to manage app instance IDs and tokens.</string>
                </array>
            </dict>
            <!-- FirebaseCoreDiagnostics -->
            <dict>
                <key>NSPrivacyAccessedAPIType</key>
                <string>NSPrivacyAccessedAPICategoryDiagnostics</string>
                <key>NSPrivacyAccessedAPITypeReasons</key>
                <array>
                    <string>Used for collecting diagnostic information to improve Firebase services.</string>
                </array>
            </dict>
              <!-- Charts -->
            <dict>
                <key>NSPrivacyAccessedAPIType</key>
                <string>NSPrivacyAccessedAPICategoryDataVisualization</string>
                <key>NSPrivacyAccessedAPITypeReasons</key>
                <array>
                    <string>Used to visualize data within the app.</string>
                </array>
            </dict>
        </array>
    </dict>
</plist>
