.button-blue-custom {
    border-color: #0081C2 !important;
    cursor: pointer;
    border-radius: .25rem;
  }
  .input-material-custom {
    width: 100%;
  }
  .td-custom {
    width: 38%;
  }
  table {
    border-spacing: 0 10px !important;
    padding: 10px;
  }
  .destination-store .mat-form-field-infix {
    padding: 0 !important;
  }