<div class="container-list-page">
    <div class="header-page-custom">
        <div class="title-list-container">
            <span>Carga de trabajo</span>
        </div>
        <div class="filter-select">

        </div>
    </div>
    <div class="table-toolbar-work-load">
        <div class="only-space-work-load">
            fgsad
        </div>
        <div class="table-toolbar-buttons-load">
            <div class="indicators-container">
                <div class="indicators-work-load color-assign">
                    Asignado
                </div>
                <div class="indicators-work-load color-in-process">
                    En proceso
                </div>
                <div class="indicators-work-load color-pending">
                    Pendiente
                </div>
                <div class="indicators-work-load color-finish">
                    Terminado
                </div>
                <div class="indicators-work-load color-re-assign">
                    Reasignado
                </div>
                <div class="indicators-work-load color-finished">
                    Finalizado
                </div>
            </div>
            <div class="data-range-container">
                <div class="date-range-container">
                    <div class="data-title">
                     Rango de fechas
                    </div>
                    <div class="dates-components">
                        <mat-form-field color="accent" appearance="outline" class="custom-date">
                            <input matInput [matDatepicker]="picker2"
                                   [(ngModel)]="startDate"
                                   [min]="minStartDate"
                                   [max]="finishDate"
                                   (ngModelChange)="onDataChange()"
                                   readonly >
                                 <!--  [(ngModel)]="element.fabDate"
                                   (ngModelChange)="onFabDateChange($event, i)"
                                   [min]="toDay"-->

                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2 color="primary"></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field color="accent" appearance="outline" class="custom-date">
                            <input matInput [matDatepicker]="picker3"
                                   [(ngModel)]="finishDate"
                                   [min]="startDate"
                                   [max]="maxFinishDate"
                                   (ngModelChange)="onDataChange()"
                                   readonly>
                           <!--        [(ngModel)]="element.fabDate"
                                   (ngModelChange)="onFabDateChange($event, i)"
                                   [min]="toDay"-->

                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3 color="primary"></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
           <!-- <form [formGroup]="productivityForm" class="form-orders" autocomplete="off">
                <div class="fecha">
                    Fecha de finalización:
                    <mat-form-field class="date-picker-custom generalinput center" appearance="fill">
                        <input matInput [matDatepicker]="dp3" formControlName="fini" readonly [min]="minDate" [max]="productivityForm.get('ffin').value" (dateChange)="getProductivityData()">
                        <mat-datepicker-toggle matSuffix [for]="dp3" ></mat-datepicker-toggle>
                        <mat-datepicker #dp3></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="date-picker-custom generalinput center" appearance="fill">
                        <input matInput [matDatepicker]="dp2" formControlName="ffin" readonly
                               [min]="productivityForm.get('fini').value" [max]="today" (dateChange)="minDateIni($event.value)">
                        <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                        <mat-datepicker #dp2 ></mat-datepicker>
                    </mat-form-field>
                </div>
            </form>-->
        </div>
    </div>

    <div class="list-users-container">
        cards
    </div>
</div>

