.only-space-work-load {
  width: 10%;
}
.table-toolbar-buttons-load {
  width: 90%;
  display: flex;
  border: black 1px solid;
}
.table-toolbar-work-load {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.indicators-work-load:hover {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
.indicators-work-load {
  width: 15%;
  height: 46%;
  color: #fff;
  margin-right: 5px;
  border-radius: 5px;
  text-align: center;
  padding: 3px;
}
.color-assign {
  background-color: #8dbf42;
}
.color-in-process {
  background-color: #e7515a;
}
.color-pending {
  background-color: #e2a03f;
}
.color-finish {
  background-color: #2196f3;
}
.color-re-assign {
  background-color: #5c1ac3;
}
.color-finished {
  background-color: #3b3f5c;
}
.data-range-container {
  width: 40%;
}
.date-range-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: black 1px solid;

}
.data-title {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 15px;
}
.dates-components {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mat-form-field {
  width: 40%;
}
.indicators-container {
  width: 60%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: black 1px solid;
}

