.find-orders-container{
  width: 36rem;
  height: 32rem;

}
.find-orders-container-custom {
  height: 20rem;
}

.orders-card{
  width: 100%;
  height: 100%;
}
.card-header-container{
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: #3b3f5c solid 1px;
}
.form-orders{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.row-form-order{
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;

  .status-custom-incidents {
    margin-top: 38px !important;
  }

}
.row-form-order-custom {
  height: 25% !important;
}
.border-bottom-custom {
  border-bottom: #3b3f5c solid 1px !important;
  padding-bottom: 25px;
}
.content-card-container{
  width: 100%;
  height: 75%;
}
.content-card-container-custom {
  padding-top: 20px;
  height: 60%;
}
.form-field-full{
  width: 100%;
  height: 100%;
  padding: 2%;
}
.form-field-left{
  width: 35%;
  height: 100%;
  padding: 2%;
}
.form-field-left-custom {
  height: 90% !important;
}
.form-field-range {
  width: 50%;
  height: 100%;
  padding: 2%;
}
.form-field-right{
  width: 65%;
  height: 100%;
  padding: 2%;

  .error-date-custom-incidents {
    padding-top: 30px;
  }

  .order-custom-incidents {
      margin-top: 25px !important;
  }

  .error-on-range-date {
    border-radius: 5px;
    background-color: #fdeced;
  }
}
.error-on-range-order {
  color: #d52334 !important;
}
.form-field-right-no-padding {
  width: 65%;
  height: 100%;
  padding: .5% 0 0 2%;
}
.custom-field-full{
  width: 100%;
  height: 100%;
}
.dates-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.date-init{
  width: 50%;
  height: 100%;
}

.date-picker-custom{
  max-width: 100%;
}
.options-footer{
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.options-footer-custom{
  height: 20%;
}

.btn-cancel-modal{
  font-size: 1em;
  background-color: #fff;
  font-weight: 500;
  border: 1px solid #e8e8e8;
  color: #3b3f5c;
  padding: 0 10px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  margin: 5px;
  transition: all 0.35s ease;

}
.with-button-cancel {
  width: 7rem;
  height: 3rem;
}
.with-button-reset {
  width: 12rem;
  height: 3rem;
}
.btn-add-modal{
  width: 7rem;
  height: 3rem;
  font-size: 1em;
  color: #fff !important;
  background-color: #6C90B3!important;
  border: .1px solid #6C90B3;
  padding: 0 10px;
  text-shadow: none;
  font-weight: 300;
  word-wrap: break-word;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  margin: 5px;
  border-radius: .25rem;
  transition: all 0.35s ease;
}
.btn--modal:hover{
  width: 7.1rem;
  height: 3.1rem;
  font-size: 1em;

}
.custom-style-status {
  padding-top: 0;
  margin-top: 0;
}
.no-padding-custom {
  padding: 0;
}
.icon-range-info {
  margin-top: 4%;
}
