<div class="find-orders-container">
    <mat-card class="orders-card">
        <mat-card-header class="card-header-container">
            <mat-card-title><span>Buscar pedidos</span>
            </mat-card-title>
            <mat-icon mat-dialog-close class="cursor-pointer">clear</mat-icon>
        </mat-card-header>
        <mat-card-content class="content-card-container">
            <form [formGroup]="findOrdersForm"  class="form-orders" autocomplete="off" (keydown)="keyDownFunction($event)">
                <div class="row-form-order">
                    <div class="form-field-full">
                        <mat-form-field class="custom-field-full">
                            <input matInput placeholder="Ingresar pedido" type="number"
                                   maxlength="50"
                                   class="height-input"
                                    formControlName="docNum">
                            <mat-error *ngIf="findOrdersForm?.controls.docNum?.errors?.required">
                                Pedido es <strong>requerido</strong>
                            </mat-error>
                            <mat-error *ngIf="!findOrdersForm?.controls.docNum?.errors?.maxLength">
                                Solo 60 caracteres
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row-form-order">
                    <div class="form-field-left">
                        <mat-form-field appearance="fill" class="custom-field">
                            <mat-label>Fecha</mat-label>
                            <mat-select formControlName="dateType" >
                                <mat-option value="0">Inicio</mat-option>
                                <mat-option value="1">Finalización</mat-option>
                            </mat-select>
                            <mat-error *ngIf="findOrdersForm?.controls.dateType?.errors?.required">
                                Tipo de fecha es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-field-right">
                        <div class="dates-container">
                            <div class="date-init">
                                <mat-form-field class="date-picker-custom" appearance="fill">
                                    <mat-label>fecha de</mat-label>
                                    <input matInput [matDatepicker]="dp3" disabled formControlName="fini" readonly>
                                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                                    <mat-datepicker #dp3 [disabled]="findOrdersForm.get('docNum').value !== ''"></mat-datepicker>
                                    <mat-error *ngIf="findOrdersForm?.controls.fini?.errors?.required">
                                        Fecha de es <strong>requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="date-init">
                                <mat-form-field class="date-picker-custom" appearance="fill">
                                    <mat-label>fecha hasta</mat-label>
                                    <input matInput [matDatepicker]="dp2" disabled formControlName="ffin" readonly
                                           [min]="findOrdersForm.get('fini').value" [max]="maxDate">
                                    <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                                    <mat-datepicker #dp2 [disabled]="findOrdersForm.get('docNum').value !== ''"></mat-datepicker>
                                    <mat-error *ngIf="findOrdersForm?.controls.ffin?.errors?.required">
                                        Fecha hasta es <strong>requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-form-order">
                    <div class="form-field-left margin-top-status">
                        <mat-form-field appearance="fill" class="custom-field">
                            <mat-label>Estatus</mat-label>
                            <mat-select formControlName="status">
                                <mat-option value="Abierto">Abierto</mat-option>
                                <mat-option value="Planificado">Planificado</mat-option>
                                <mat-option value="Liberado">Liberado</mat-option>
                                <mat-option value="Terminado">Terminado</mat-option>
                                <mat-option value="Finalizado">Finalizado</mat-option>
                                <mat-option value="Cancelado">Cancelado</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-field-right">
                        <mat-form-field appearance="fill" class="custom-field-full">
                            <mat-label>QFB Asignado</mat-label>
                            <mat-select formControlName="qfb">
                                <mat-option value="{{qfb.qfbId}}" *ngFor="let qfb of qfbsSelect">{{qfb.qfbName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions class="options-footer">
            <button mat-button class="btn-cancel-modal with-button-reset" *ngIf="isToResetData" (click)="resetSearchParams()">Reiniciar parámetros</button>
            <button mat-button mat-dialog-close class="btn-cancel-modal btn--modal with-button-cancel">Cancelar</button>
            <button mat-button class="btn-add-modal btn--modal" [disabled]="findOrdersForm.invalid"  (click)="searchOrders()">
                <span>Buscar</span>
            </button>
        </mat-card-actions>
    </mat-card>
</div>
