<div class="find-orders-container" [ngClass]="filterData.filterOrdersData.isFromIncidents ? 'find-orders-container-custom' : ''">
    <mat-card class="orders-card">
        <mat-card-header class="card-header-container">
            <mat-card-title>
                <span *ngIf="isFromSearchOrders && !filterData.filterOrdersData.isFromIncidents">Buscar pedidos</span>
                <span *ngIf="!isFromSearchOrders && !filterData.filterOrdersData.isFromIncidents">Buscar órdenes de fabricación</span>
                <span *ngIf="filterData.filterOrdersData.isFromIncidents">Buscar incidencias</span>
            </mat-card-title>
            <mat-icon mat-dialog-close class="cursor-pointer">clear</mat-icon>
        </mat-card-header>
        <mat-card-content class="content-card-container" [ngClass]="filterData.filterOrdersData.isFromIncidents ? 'content-card-container-custom': ''">
            <form [formGroup]="findOrdersForm"  class="form-orders" autocomplete="off" (keydown)="keyDownFunction($event)">
                <div class="row-form-order" *ngIf="!filterData.filterOrdersData.isFromIncidents">
                    <div class="form-field-full">
                        <mat-form-field class="custom-field-full">
                            <input matInput [placeholder]="isFromSearchOrders ? 'Ingresar pedido' : 'Nº de orden de fabricación'"
                                   type="text"
                                   maxlength="10"
                                   class="height-input"
                                   formControlName="docNum"
                                   (keydown)="changeDocNumber($event)">
                            <mat-error *ngIf="findOrdersForm?.controls.docNum?.errors?.required">
                                Pedido es <strong>requerido</strong>
                            </mat-error>
                            <mat-error *ngIf="!findOrdersForm?.controls.docNum?.errors?.maxLength">
                                Solo 7 caracteres
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row-form-order">
                    <div class="form-field-left">
                        <mat-form-field appearance="outline" class="custom-field">
                            <mat-label>Fecha</mat-label>
                            <input matInput
                                   *ngIf="filterData.filterOrdersData.isFromIncidents"
                                   type="text"
                                   value="Fecha creación"
                                    readonly>
                            <mat-select formControlName="dateType" *ngIf="!filterData.filterOrdersData.isFromIncidents">
                                <mat-option *ngIf="isFromSearchOrders" value="0">Inicio</mat-option>
                                <mat-option *ngIf="isFromSearchOrders" value="1">Finalización</mat-option>
                                <mat-option *ngIf="!isFromSearchOrders" value="0">Orden fabricación</mat-option>
                                <mat-option *ngIf="!isFromSearchOrders" value="1">Término QFB</mat-option>
                            </mat-select>
                            <mat-error *ngIf="findOrdersForm?.controls.dateType?.errors?.required">
                                Tipo de fecha es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-field-right">
                        <div class="dates-container">
                            <div class="date-init">
                                <mat-form-field class="date-picker-custom" appearance="outline">
                                    <mat-label>fecha de</mat-label>
                                    <input matInput [matDatepicker]="dp3"
                                           formControlName="fini"

                                           [max]="dateFin" readonly>
                                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                                    <mat-datepicker #dp3 [disabled]="withValue(findOrdersForm.get('docNum').value)"></mat-datepicker>
                                    <mat-error *ngIf="findOrdersForm?.controls.fini?.errors?.required">
                                        Fecha de es <strong>requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="date-init">
                                <mat-form-field class="date-picker-custom" appearance="outline">
                                    <mat-label>fecha hasta</mat-label>
                                    <input matInput [matDatepicker]="dp2" formControlName="ffin" readonly
                                           [min]="findOrdersForm.get('fini').value" [max]="maxDate">
                                    <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                                    <mat-datepicker #dp2 [disabled]="withValue(findOrdersForm.get('docNum').value)"></mat-datepicker>
                                    <mat-error *ngIf="findOrdersForm?.controls.ffin?.errors?.required">
                                        Fecha hasta es <strong>requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-form-order">
                    <div class="form-field-left margin-top-status" [ngClass]="filterData.filterOrdersData.isFromIncidents ? 'status-custom-incidents' : ''">
                        <mat-form-field appearance="outline" class="custom-field custom-style-status">
                            <mat-label>Estatus</mat-label>
                            <mat-select formControlName="status">
                                <mat-option *ngIf="isFromSearchOrders && !filterData.filterOrdersData.isFromIncidents" value="Abierto">Abierto</mat-option>
                                <mat-option *ngIf="!isFromSearchOrders && !filterData.filterOrdersData.isFromIncidents" value="Asignado">Asignado</mat-option>
                                <mat-option *ngIf="!isFromSearchOrders && !filterData.filterOrdersData.isFromIncidents" value="En proceso">En proceso</mat-option>
                                <mat-option *ngIf="!isFromSearchOrders && !filterData.filterOrdersData.isFromIncidents" value="Pendiente">Pendiente</mat-option>
                                <mat-option *ngIf="!isFromSearchOrders && !filterData.filterOrdersData.isFromIncidents" value="Reasignado">Reasignado</mat-option>
                                <mat-option value="Planificado" *ngIf="!filterData.filterOrdersData.isFromIncidents">Planificado</mat-option>
                                <mat-option *ngIf="isFromSearchOrders && !filterData.filterOrdersData.isFromIncidents" value="Liberado">Liberado</mat-option>
                                <mat-option value="Terminado" *ngIf="!filterData.filterOrdersData.isFromIncidents">Terminado</mat-option>
                                <mat-option value="Finalizado" *ngIf="!filterData.filterOrdersData.isFromIncidents">Finalizado</mat-option>
                                <mat-option value="Almacenado" *ngIf="!filterData.filterOrdersData.isFromIncidents">Almacenado</mat-option>
                                <mat-option value="Cancelado" *ngIf="!filterData.filterOrdersData.isFromIncidents">Cancelado</mat-option>

                                <mat-option value="Abierta" *ngIf="filterData.filterOrdersData.isFromIncidents">Abierta</mat-option>
                                <mat-option value="Atendiendo" *ngIf="filterData.filterOrdersData.isFromIncidents">Atendiendo</mat-option>
                                <mat-option value="Cerrada" *ngIf="filterData.filterOrdersData.isFromIncidents">Cerrada</mat-option>

                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-field-right" >
                        <mat-form-field class="custom-field-full custom-order" [ngClass]="filterData.filterOrdersData.isFromIncidents ? 'order-custom-incidents' : ''"
                                        *ngIf="dataService.getUserRole() === '7' && filterData.filterOrdersData.isFromIncidents">
                            <input matInput placeholder="Número de pedido"
                                   type="text"
                                   maxlength="10"
                                   class="height-input"
                                   formControlName="orderIncidents"
                                   (keydown)="changeDocNumber($event)">
                            <mat-error *ngIf="!findOrdersForm?.controls.orderIncidents?.errors?.maxLength">
                                Solo 7 caracteres
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="custom-field"
                                        *ngIf="(dataService.getUserRole() === '3' || dataService.getUserRole() === '4') && isFromSearchOrders">
                            <mat-label>Tipo de etiqueta</mat-label>
                            <mat-select formControlName="label" >
                                <mat-option value="G">Genérica</mat-option>
                                <mat-option value="P">Personalizada</mat-option>
                            </mat-select>
                            <mat-error *ngIf="findOrdersForm?.controls.dateType?.errors?.required">
                                Tipo de fecha es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="custom-field-full"
                                        *ngIf="dataService.getUserRole() === '5' || (!isFromSearchOrders && !filterData.filterOrdersData.isFromIncidents )">
                            <mat-label>QFB asignado</mat-label>
                            <mat-select formControlName="qfb">
                                <mat-option value="{{qfb.qfbId}}" *ngFor="let qfb of qfbsSelect">{{qfb.qfbName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row-form-order">
                    <div class="form-field-left">
                        <mat-form-field appearance="outline" class="custom-field" *ngIf="(dataService.getUserRole() === '3' || dataService.getUserRole() === '4') && isFromSearchOrders">
                            <mat-label>Etiqueta terminada</mat-label>
                            <mat-select formControlName="finlabel" >
                                <mat-option value="1">Si</mat-option>
                                <mat-option value="0">No</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="custom-field-full" *ngIf="dataService.getUserRole() === '5' && isFromSearchOrders">
                            <input matInput placeholder="Nombre del cliente" type="text"
                                   maxlength="80"
                                   class="height-input"
                                   formControlName="clientName"
                                   (focusout)="trimFilterValues()">
                            <mat-error *ngIf="!findOrdersForm?.controls.clientName?.errors?.maxLength">
                                Solo 80 caracteres
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="custom-field-full" *ngIf="(dataService.getUserRole() === '5' || dataService.getUserRole() === '3') && !isFromSearchOrders">
                            <input matInput placeholder="Código del producto" type="text"
                                   maxlength="40"
                                   class="height-input"
                                   formControlName="productCode"
                                   (focusout)="trimFilterValues()">
                            <mat-error *ngIf="!findOrdersForm?.controls.productCode?.errors?.maxLength">
                                Solo 40 caracteres
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div [ngClass]="dataService.getUserRole() === '4' && isFromSearchOrders ? 'form-field-right-no-padding' : 'form-field-right' ">
                        <mat-form-field appearance="outline" class="custom-field-full" *ngIf="dataService.getUserRole() === '3' && isFromSearchOrders">
                            <mat-label>QFB asignado</mat-label>
                            <mat-select formControlName="qfb">
                                <mat-option value="{{qfb.qfbId}}" *ngFor="let qfb of qfbsSelect">{{qfb.qfbName}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="custom-field-full no-padding-custom" *ngIf="dataService.getUserRole() === '4' && isFromSearchOrders">
                            <input matInput placeholder="Nombre del cliente" type="text"
                                   maxlength="80"
                                   class="height-input"
                                   formControlName="clientName"
                                   (focusout)="trimFilterValues()">
                            <mat-error *ngIf="!findOrdersForm?.controls.clientName?.errors?.maxLength">
                                Solo 80 caracteres
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row-form-order">
                    <div class="form-field-left" *ngIf="isFromSearchOrders">
                        <mat-form-field class="custom-field-full" *ngIf="dataService.getUserRole() === '3' ">
                            <input matInput placeholder="Nombre del cliente" type="text"
                                   maxlength="80"
                                   class="height-input"
                                   formControlName="clientName"
                                   (focusout)="trimFilterValues()">
                            <mat-error *ngIf="!findOrdersForm?.controls.clientName?.errors?.maxLength">
                                Solo 80 caracteres
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-field-right">
                        <mat-error *ngIf="findOrdersForm.invalid" class="font-style-omicron"
                                   [ngClass]="filterData.filterOrdersData.isFromIncidents ? 'error-date-custom-incidents' : ''">
                            El rango de fechas debe ser menor a 3 meses
                        </mat-error>
                    </div>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions class="options-footer">
            <button mat-button class="btn-cancel-modal with-button-reset" *ngIf="isToResetData" (click)="resetSearchParams()">Reiniciar parámetros</button>
            <div class="only-margin">
            </div>
            <button mat-button mat-dialog-close class="btn-cancel-modal btn&#45;&#45;modal with-button-cancel">Cancelar</button>
            <button mat-button class="btn-add-modal btn&#45;&#45;modal" [disabled]="findOrdersForm.invalid"  (click)="searchOrders()">
                <span>Buscar</span>
            </button>
        </mat-card-actions>
    </mat-card>
</div>
