<div class="add-user-container">
    <mat-card class="add-user-card">
        <mat-card-header class="card-header-container">
            <mat-card-title ><span *ngIf="!isForEditModal">Agregar usuario</span><span *ngIf="isForEditModal">Editar usuario</span>
            </mat-card-title>
            <mat-icon mat-dialog-close class="cursor-pointer">clear</mat-icon>

        </mat-card-header>
        <mat-card-content class="content-card-container">
            <form [formGroup]="addUserForm" class="form-add-user">
                <div class="row-form-user">
                    <div class="form-field">
                        <mat-form-field class="custom-field">
                            <input matInput placeholder="Ingresa usuario" formControlName="userName" maxlength="50" class="height-input">
                            <mat-error *ngIf="addUserForm?.controls.userName?.errors?.required">
                                Usuario es <strong>requerido</strong>
                            </mat-error>
                            <mat-error *ngIf="!addUserForm?.controls.userName?.errors?.maxLength">
                                Solo 50 caracteres.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-field">
                        <mat-form-field class="custom-field">
                            <input matInput placeholder="Nombre(s)" formControlName="firstName" maxlength="50" class="height-input">
                            <mat-error *ngIf="addUserForm?.controls.firstName?.errors?.required">
                                Nombre es <strong>requerido</strong>
                            </mat-error>
                            <mat-error *ngIf="!addUserForm?.controls.firstName?.errors?.maxLength">
                                Solo 50 caracteres.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row-form-user">
                    <div class="form-field">
                        <mat-form-field class="custom-field magin-top-field">
                            <input matInput placeholder="Apellido(s)" formControlName="lastName" maxlength="50" class="height-input">
                            <mat-error *ngIf="addUserForm?.controls.lastName?.errors?.required">
                                Apellido es <strong>requerido</strong>
                            </mat-error>
                            <mat-error *ngIf="!addUserForm?.controls.firstName?.errors?.maxLength">
                                Solo 50 caracteres.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-field">
                        <mat-form-field appearance="fill" class="custom-field margin-top-user">
                            <mat-label>Selecciona rol</mat-label>
                            <mat-select formControlName="userTypeR">
                                <mat-option value="{{user.id}}"   *ngFor="let user of userRoles">{{user.description}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="addUserForm?.controls.userTypeR?.errors?.required">
                                Rol es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row-form-user">
                    <div class="form-field">
                        <mat-form-field class="custom-field magin-top-field">
                            <input matInput placeholder="Contraseña" formControlName="password" class="height-input">
                            <mat-error *ngIf="addUserForm?.controls.password?.errors?.pattern || addUserForm?.controls.password?.errors?.required">
                                La contraseña debe contener lo siguiente:
                                8 caracteres como mínimo,
                                máximo 20 caracteres,
                                ,una letra mayúscula
                                y un número
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-field">
                        <mat-form-field appearance="fill" class="custom-field margin-top-user" *ngIf="isForEditModal">
                            <mat-label>Selecciona estatus</mat-label>
                            <mat-select formControlName="activo">
                                <mat-option value="0">Inactivo</mat-option>
                                <mat-option value="1">Activo</mat-option>
                            </mat-select>
                            <mat-error *ngIf="addUserForm?.controls.activo?.errors?.required">
                                Estatus es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>

        </mat-card-content>
        <mat-card-actions class="options-footer">
            <button mat-button mat-dialog-close class="btn-cancel-modal btn--modal">Cancelar</button>
            <button mat-button class="btn-add-modal btn--modal" mat-dialog-close [disabled]="addUserForm.invalid" (click)="saveUser()">
                <span *ngIf="!isForEditModal">Agregar</span>
                <span *ngIf="isForEditModal">Guardar</span>
            </button>
        </mat-card-actions>
    </mat-card>
</div>
