.add-user-container{
  width: 40rem;
  height: 35rem;
}
.add-user-card{
  width: 100%;
  height: 100%;
}
.card-header-container{
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: #3b3f5c solid 1px;
}
.content-card-container{
  width: 100%;
  height: 75%;
}
.form-add-user{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.row-form-user{
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-field{
  width: 50%;
  height: 100%;
  padding: 2%;
}
.custom-field {
  width: 100%;
}
.options-footer{
  width: 100%;
  height: 11%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn-add-modal{
  width: 7rem;
  height: 3rem;
  font-size: 1em;
  color: #fff !important;
  background-color: #6C90B3!important;
  border: .1px solid #6C90B3;
  padding: 0 10px;
  text-shadow: none;
  font-weight: 300;
  word-wrap: break-word;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  margin: 5px;
  border-radius: .25rem;
  transition: all 0.35s ease;
}
.btn--modal:hover{
  width: 7.1rem;
  height: 3.1rem;
  font-size: 1em;

}
