.add-user-container{
  width: 40rem;
  height: 35rem;
}

.form-add-user{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.row-form-user{
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-field{
  width: 50%;
  height: 100%;
  padding: 2%;
}

.options-footer{
  width: 100%;
  height: 11%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn--modal:hover{
  width: 7.1rem;
  height: 3.1rem;
  font-size: 1em;

}
.margin-top-user{
  margin-top: 5%;
}
.magin-top-field{
  margin-top: 4%;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label  */
  color: #6C90B3 !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #6C90B3 !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #638db6 !important;;
}
