<div class="add-user-container">
    <mat-card class="add-user-card">
        <mat-card-header class="card-header-container">
            <mat-card-title ><span *ngIf="!isForEditModal">Agregar usuario</span><span *ngIf="isForEditModal">Editar usuario</span>
            </mat-card-title>
            <mat-icon mat-dialog-close class="cursor-pointer">clear</mat-icon>

        </mat-card-header>
        <mat-card-content class="content-card-container">
            <form [formGroup]="addUserForm" class="form-add-user" autocomplete="off" (keydown)="keyDownFunction($event)">
                <div class="row-form-user padding-user">
                    <div class="form-field">
                        <mat-form-field class="custom-field">
                            <input matInput placeholder="Ingresa usuario" formControlName="userName" maxlength="50" class="height-input">
                            <mat-error *ngIf="addUserForm?.controls.userName?.errors?.required">
                                Usuario es <strong>requerido</strong>
                            </mat-error>
                            <mat-error *ngIf="!addUserForm?.controls.userName?.errors?.maxLength">
                                Solo 50 caracteres.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-field">
                        <mat-form-field class="custom-field">
                            <input matInput placeholder="Nombre(s)" formControlName="firstName" maxlength="50" class="height-input">
                            <mat-error *ngIf="addUserForm?.controls.firstName?.errors?.required">
                                Nombre es <strong>requerido</strong>
                            </mat-error>
                            <mat-error *ngIf="!addUserForm?.controls.firstName?.errors?.maxLength">
                                Solo 50 caracteres.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row-form-user">
                    <div class="form-field">
                        <mat-form-field class="custom-field">
                            <input matInput placeholder="Apellido(s)" formControlName="lastName" maxlength="50" class="height-input">
                            <mat-error *ngIf="addUserForm?.controls.lastName?.errors?.required">
                                Apellido es <strong>requerido</strong>
                            </mat-error>
                            <mat-error *ngIf="!addUserForm?.controls.firstName?.errors?.maxLength">
                                Solo 50 caracteres.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-field">
                        <mat-form-field appearance="outline" class="custom-field magin-top-field">
                            <mat-label>Selecciona rol</mat-label>
                            <mat-select formControlName="userTypeR">
                                <mat-option value="{{user.id}}"   *ngFor="let user of userRoles">{{user.description}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="addUserForm?.controls.userTypeR?.errors?.required">
                                Rol es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row-form-user">
                    <div class="form-field">
                        <mat-form-field class="custom-field">
                            <input matInput placeholder="Contraseña" formControlName="password" class="height-input">
                            <mat-error *ngIf="addUserForm?.controls.password?.errors?.pattern || addUserForm?.controls.password?.errors?.required">
                                La contraseña debe contener lo siguiente:
                                8 caracteres como mínimo,
                                máximo 50 caracteres,
                                ,una letra mayúscula
                                y un número
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-field">
                        <mat-form-field class="custom-field">
                            <input matInput
                                   formControlName="piezas"
                                   placeholder="Piezas máximas"
                                   class="height-input"
                                   type="text" pattern="[0-9]*" maxlength="5"
                                   (keypress)="numericOnly($event)"
                                   />

                            <mat-error *ngIf="addUserForm?.controls.piezas?.errors?.required">
                                Piezas máximas es <strong>requerido</strong>
                            </mat-error>
                            <mat-error *ngIf="!addUserForm?.controls.piezas?.errors?.maxLength">
                                Máximo 5 digitos
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row-form-user">
                    <div class="form-field">
                        <mat-form-field appearance="outline" class="custom-field magin-top-field">
                            <mat-label>Selecciona clasificación</mat-label>
                            <mat-select formControlName="classificationQFB"> 
                                <mat-option value=""></mat-option>
                                <mat-option value="MN">Bioelite (MN)</mat-option>
                                <mat-option value="BE">Bioequal (BE)</mat-option>
                                <mat-option value="MG">Magistral (MG)</mat-option>
                            </mat-select>
                            <mat-error *ngIf="addUserForm.controls.classificationQFB.hasError('required')">
                                Clasificación <strong>requerida</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-field">
                        <mat-form-field appearance="outline" class="custom-field magin-top-field">
                            <mat-label>Selecciona asignación</mat-label>
                            <mat-select formControlName="asignable">
                                <mat-option value="1">Encendido</mat-option>
                                <mat-option value="0">Apagado</mat-option>
                            </mat-select>
                            <mat-error *ngIf="!addUserForm?.controls.asignable?.errors?.required">
                                Asignación es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row-form-user-status" *ngIf="isForEditModal">
                    <div class="form-field">
                        <mat-form-field appearance="outline" class="custom-field magin-top-field">
                            <mat-label>Selecciona estatus</mat-label>
                            <mat-select formControlName="activo">
                                <mat-option value="0">Inactivo</mat-option>
                                <mat-option value="1">Activo</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-error *ngIf="addUserForm?.controls.activo?.errors?.required">
                            Estatus es <strong>requerido</strong>
                        </mat-error>
                    </div>
                </div>
            </form>

        </mat-card-content>
        <mat-card-actions class="options-footer">
            <button mat-button mat-dialog-close class="btn-cancel-modal btn--modal">Cancelar</button>
            <button mat-button class="btn-add-modal btn--modal" [disabled]="addUserForm.invalid" (click)="saveUser()">
                <span *ngIf="!isForEditModal">Agregar</span>
                <span *ngIf="isForEditModal">Guardar</span>
            </button>
        </mat-card-actions>
    </mat-card>
</div>
