.add-user-container {
  display: block;
  width: 40rem;
  .add-user-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    max-height: 95vh;
  }
}
.content-card-container {
  flex-basis: 100%;
  min-height: auto !important;
  overflow-y: auto;
}
.form-add-user{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.row-form-user-status{
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 0px;
}

.row-form-user{
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-field{
  width: 50%;
  height: 100%;
  padding: 2%;
}

.options-footer{
  width: 100%;
  height: 11%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn--modal:hover{
  width: 7.1rem;
  height: 3.1rem;
  font-size: 1em;

}
.margin-top-user{
  margin-top: 2%;
}
.magin-top-field{
  margin-top: 3%;
}
.padding-user {
  padding-top: 10px;
}
.margin-top-user-custom {
  margin-top: 1%;
}

