.finalize-orders-container{
  width: 86rem;
  height: 30rem;
}
.descripcionproducto-custom {
  width: 10%;
}
.margin-table {
  margin-top: 10px;
}
.options-footer{
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
