// MARK: TABLA ADD COMPONENT
.column-cons {
    width: 3%;
    max-width: 50px;
}

.column-codigoProducto {
    width: 5%;
    max-width: 50px;
}

.column-descripcionProducto {
    width: 10%;
    max-width: 150px;
}

.column-cantidadBase {
    width: 8%;
    max-width: 150px;
}

.column-cantidadRequerida {
    width: 8%;
    max-width: 150px;
}

.column-consumido {
    width: 3%;
    max-width: 50px;
}

.column-disponible {
    width: 5%;
    max-width: 75px;
}

.column-unidad {
    width: 3%;
    max-width: 50px;
}

.column-almacen {
    width: 8%;
    max-width: 150px;
}

.column-cantidadPendiente {
    width: 5%;
    max-width: 75px;
}

.column-enStock {
    width: 5%;
    max-width: 75px;
}

.column-cantidadAlmacen {
    width: 5%;
    max-width: 75px;
}

.column-totalNecesario {
    width: 5%;
    max-width: 75px;
}

.column-totalSeleccionado {
    width: 5%;
    max-width: 75px;
}


// MARK: INVENTORY BATCHES STYLES
//tabla productos
.consecutivo {
    width: 5% !important;
}

.codigoproducto {
    width: 15% !important;
}

.descripcion {
    width: 30% !important;
}

.almacen {
    width: 15% !important;
}

.cantreq {
    width: 15% !important;
}

.cantseleccionada {
    width: 15% !important;
}

// //tabla lotes
.lotesconsecutivo {
    width: 25% !important;
}

.disponible {
    width: 20% !important;
}

.lotesseleccionado {
    width: 18% !important;
}

.lotesasignados {
    width: 23% !important;
}

.tdactions {
    width: 19% !important;
}

//tabla lotes-producto
.pllote {
    width: 30% !important;
}

.plseleccionada {
    width: 50% !important;
}

.table-pl .tdactions {
    width: 20% !important;
}

.clickable {
    cursor: pointer;
}

tr.selected {
    background-color: #0081C2 !important;
    font-family: omicron-bold, Arial, Helvetica, sans-serif !important;
    font-weight: bold !important;
}

tr.selected td {
    color: #fff !important;
}

.table-pl {
    margin-bottom: 20px !important;
}

tr.caduco td {
    color: red !important;
}

// MARK: DETALLE FORMULA STYLES
div.docbase {
    margin-top: 5% !important;
}

.table-custom-formula {
    margin-top: 2% !important;
}

.material-custom {
    margin-right: 10px;
}

.margin-table {
    margin-bottom: 15px;
}

.seleccion {
    width: 3% !important;
}

.color-black {
    color: black !important;
    font-weight: 500;
}

.text-bold {
    font-family: omicron-bold, Arial, Helvetica, sans-serif !important;
    font-weight: bold !important;
}

.consecutivo {
    width: 3% !important;
}

.numero {
    width: 5% !important;
}

.componente-descripcion {
    width: 10% !important;
}

.cantbase {
    width: 8% !important;
}

.componente-cantreq {
    width: 8% !important;
}

.consumido {
    width: 6% !important;
}

.componentes-disponible {
    width: 8% !important;
}

.unidad {
    width: 6% !important;
}

.componente-almacen {
    width: 8% !important;
}

.cantpend {
    width: 8% !important;
}

.enstock {
    width: 8% !important;
}

.cantalmacen {
    width: 10% !important;
}

.cant-necesario {
    width: 4% !important;
}

.cant-seleccionado {
    width: 4% !important;
}

.text-area-formula {
    text-align: left;
    border: #0081C2 1px solid;
}

.comments-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-comments {
    width: 100%;
    height: 10%;
    font-size: 1em;
    color: #acb0c3;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.text-area-comments {
    width: 100%;
    height: 100%;
}

.input-with-error {
    color: #a71d2a;
    font-weight: 700;

}

.with-buttons-actions-custom {
    width: 4% !important;
}