.custom-warehouse-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .title-graph-reception {
    padding: 0 0 10px 0;
  }

  .reception-content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;

    .reception-container {
      width: 22%;
      background-color: #3b3f5c;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;

      .icon-reception-container {
        font-size: 25px;
        color: white;
        font-weight: 700;
        padding: 5px;
        display: flex;
        align-items: center;
      }

      .title-reception {
        color: white;
        font-size: 18px;
        font-weight: 600;
        padding: 5px;
      }
    }
  }
  .distribution-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .custom-local-container {
       display: flex !important;
      flex-direction: row !important;
    }
    .custom-foreign-container {
      width: 50% !important;
      margin-left: 25%;
    }

    .local-container {
      width: 100%;
      padding: 10px;

      .margin-top-graphic {
        padding: 80px 0 0 80px;
        width: 45% !important;
      }
      .content-local-container {
        width: 50%;
      }

      .mat-card-custom {
        padding: 0 !important;

        .mat-list-custom {
          padding-top: 0 !important;

          .item-local-container{
            padding: 5px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          .title-distribution {
            width: 40%;
            font-size: 18px;
            font-weight: 300;
            color: #888ea8;
          }

          .count-distribution {
            width: 10%;
            border-radius: 10px;
            color: white;
            font-weight: bold;
            padding: 10px;
            background-color: #6C90B3;
            text-align: center;
          }
        }
      }

      .title-graph-distribution {
        font-size: 15px;
        font-weight: 600;
        color: #888ea8;
      }
    }
  }
}
