// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
@import "./assets/styles/bootstrap-grid.min.css";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$omicron-primary: mat-palette($mat-indigo);
$omicron-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$omicron-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$omicron-theme: mat-light-theme($omicron-primary, $omicron-accent, $omicron-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($omicron-theme);

/* You can add global styles to this file, and also import other style files */
.custom-dialog-container .mat-dialog-container {
  margin-top: 10px;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif !important;
}

/* Bootstrap 4 Fix for Angular Material */
[mat],
::after,
::before {
  box-sizing: unset;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.container-list-page{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;

}
.header-page{
  width: 100%;
  height: 12%;
  margin-top: .5%;
}
.list-users-container{
  width: 100%;
  height: 88%;
  display: flex;
  flex-direction: column;
}
.title-list-container{
  width: 50%;
  float: left;
}
.no-users-registered{
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  color: #5f606c;
  font-size: 1.5em;
}
.table-container {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-custom::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-custom {
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
}
.scroll-visible {
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.table-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.paginator-container {
  width: 100%;
  height: 12%;
}


.filter-select{
  width: 50%;
  float: right;
  text-align: right;
  color: #3b3f5c;
  font-size: 1.25rem;
  font-weight: 800;
}

.filter-select .select-button{
  position: relative;
  padding: 9px 35px 10px 15px;
  border: 1px solid #e0e6ed;
  border-radius: 8px;
  transform: none;
  line-height: 17px;
  background-color: #fff;
  min-width: 115px;
  text-align: inherit;
  color: #3b3f5c;
  font-size: 1.25rem;
  box-shadow: none;
  font-weight: 600;
  letter-spacing: 0;
}

.filter-select .select-button span{
  margin-top: -20px;
  color: #3b3f5c;
}

.title-list-container span{
  font-size: 26px;
  color: #3b3f5c;
  font-weight: bold !important;
}

.table-toolbar{
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-top: 20px;
}

.table-toolbar .table-toolbar-search{
  width: 10%;
  float: left;
}

.table-toolbar .table-toolbar-buttons{
  width: 90%;
  float: right;
  text-align: right;
}

.table-toolbar .table-toolbar-buttons button{
  margin-bottom: 15px;
}

.table-toolbar .table-toolbar-buttons .button-blue{
  background-color: #6C90B3 !important;
  color: #fff !important;
}
.disable-button {
  background-color: #dbdfe4 !important;
  color: #424040 !important;
}

table {
  width: 100%;
}

th{
  color: #6C90B3 !important;
  font-weight: bold !important;
  font-size: 11px !important;
  flex: 0 0 28% !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

tbody tr:nth-child(odd){
  background-color: #f1f2f3 !important;
}

th.centered {
  text-align: center !important;
}

.ico-col-pri{
  font-size: 10px;
}

.tdcell {
  font-size: 10px;
  color: #515365 !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  word-break: break-word !important;
  -ms-hyphens: auto !important;
  -moz-hyphens: auto !important;
  -webkit-hyphens: auto !important;
  hyphens: auto !important;
}
.tdcell-center{
  text-align: center;
}
.tdcell-left{
  text-align: left;
}
.tdcell-right{
  text-align: right;
}
.confirm-button-class {
  background: #6C90B3;
  color: white;
  width: 80px;
  height: 25px;
  z-index: -1;
  margin-left: 5px;
}

.cancel-button-class {
  background: white;
  color: black;
  width: 80px;
  height: 25px;
  border: black 1px solid;
  margin-right: 5px;
}

.swal2-actions {
  display: flex;
  flex-direction: row-reverse;

}
.popup-custom {
  width: 70% !important;
}
.custom-field {
  width: 100%;
}
.cursor-pointer{
  cursor: pointer;
}
.height-input{
  height: 2rem;
}

.add-user-card{
  width: 100%;
  height: 100%;
}
.card-header-container{
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: #3b3f5c solid 1px;
}
.content-card-container{
  width: 100%;
  height: 75%;
}
.btn-add-modal{
  width: 7rem;
  height: 3rem;
  font-size: 1em;
  color: #fff !important;
  background-color: #6C90B3!important;
  border: .1px solid #6C90B3;
  padding: 0 10px;
  text-shadow: none;
  font-weight: 300;
  word-wrap: break-word;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  margin: 5px;
  border-radius: .25rem;
  transition: all 0.35s ease;
}
.btn-cancel-modal{
  width: 7rem;
  height: 3rem;
  font-size: 1em;
  background-color: #fff;
  font-weight: 500;
  border: 1px solid #e8e8e8;
  color: #3b3f5c;
  padding: 0 10px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  margin: 5px;
  transition: all 0.35s ease;

}
.margin-left-options{
  margin-left: 15px;
}
.background-color-omicron {
  background-color: #6C90B3!important;
}
.color-omicron {
  color: #6C90B3!important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #808080;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #979595;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6C90B3!important;
}
/*@media(min-width: 769px){
  .cont-center{
      margin-left: 10%;
      margin-top: 2%;
      margin-right: 10%;
      margin-bottom: 5%;;
  }
}

@media(max-width: 768px){
  .cont-center{
      margin-left: 2%;
      margin-right: 2%;
      margin-top: 3rem;
  }
}
@media(min-width: 769px){
  .cont-center-notop{
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 5%;;
  }
}*/

/*body > app-root > mat-sidenav-container > mat-sidenav-content > app-general-services > div.cont-center > table{
  margin-top: 3rem !important;
}

body > app-root > mat-sidenav-container > mat-sidenav-content > app-guestscreen > div.cont-center > div.tab-top-space > mat-list{
  background-color:#fff;
}

@media(max-width: 768px){
  body > app-root > app-menu-bar > mat-sidenav-container > mat-sidenav-content > app-pre-registry > div.cont-center > mat-card > form > div.first-in-div > mat-form-field{
      display: block;
  }
}

@media(max-width: 768px){
  body > app-root > app-menu-bar > mat-sidenav-container > mat-sidenav-content > app-wizard > div.cont-center > div > mat-horizontal-stepper > div.mat-horizontal-content-container{
      margin-top: -2rem;
      }
  
      #mat-checkbox-1 > label,
      #mat-checkbox-2 > label{
          margin-top: 0.8rem;
      }
  }

  .title-head{
    font-size: x-large;
    font-style: unset;
    color: #1b4063;
  }

  .mat-form-field-infix{
    padding: 0px !important;
  }*/


.mat-drawer-content {
  overflow: hidden !important;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background: #6C90B3 !important; 
}

.material-icons svg{
  font-size: 10px !important;
}

.mat-raised-button {
  padding: 0 5px !important;
}

.mat-stroked-button.mat-primary {
  color: #2196f3 !important;
  border: 1px solid #2196f3 !important;
}

.mat-stroked-button.green {
  color: #8dbf42 !important;
  border: 1px solid #8dbf42 !important;
}

table .mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: rgba(108, 144, 179, 1);
}

.mat-input-element {
  caret-color: rgba(108, 144, 179, 1) !important;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: rgba(108, 144, 179, 1) !important;
}

table .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(0, 0, 0, 0.12);
  background-color: #fff;
}

table td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding: 0 3px !important;
}

table .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff;
  padding: 0 .75em 0 .75em !important;
}

table .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
  transform: translateY(0%) !important;
}

mat-form-field{
  font-family: "Quicksand", serif !important;
}

mat-form-field.generalinput{
  margin: 0 5px;
  font-size: 12px;
  color: #6C90B3 !important;
  font-weight: bold !important;
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #6C90B3;
}

div.breadcrumb{
  font-size: 12px !important;
  padding: 0.65rem .95rem;
  border: 1px solid #e0e6ed;
  border-radius: 8px;
  transform: none;
  line-height: 17px;
  background-color: #e9ecef;
  width: 300px;
  text-align: inherit;
  color: #3b3f5c;
  box-shadow: none;
  font-weight: 600;
  letter-spacing: 0;
}

a.breadcrumblink{
  text-decoration: none;
  color: #3b3f5c !important;
  cursor: pointer;
}

a.breadcrumblink:visited{
  color: #3b3f5c !important;
  cursor: pointer;
}
a.breadcrumblink:hover{
  color: #3b3f5c !important;
  cursor: pointer;
}

.mat-form-field-label {
  color: #6C90B3 !important;
}

.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
  color: #6C90B3 !important;
}

.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: #6C90B3;
}

.mat-form-field-disabled.mat-form-field-appearance-outline .mat-form-field-outline-start {
  background-color:rgba(128, 128, 128, 0.09) !important
}

.mat-form-field-disabled.mat-form-field-appearance-outline .mat-form-field-outline-gap {
  background-color:rgba(128, 128, 128, 0.09) !important
}

.mat-form-field-disabled.mat-form-field-appearance-outline .mat-form-field-outline-end {
  background-color:rgba(128, 128, 128, 0.09) !important
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.7em 0 0.7em 0 !important;
}

.table-container-component {
  width: 100%;
  //overflow-y: scroll;
}

.table-container-component {
  -ms-overflow-style: none !important;  /* IE and Edge */
}

.table-container-component::-webkit-scrollbar {
  display: none;
}
.seleccion-lotes{
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column-a {
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  width: 55%;
}

.column-b{
  padding-left: 30px;
  display: flex;
  width: 45%;
  flex-direction: column;
}
.mat-stroked-button.liberado {
  color: #6C90B3 !important;
  border: 1px solid #6C90B3 !important;
}

.mat-stroked-button.cancelado {
  color: #3b3f5c !important;
  border: 1px solid #3b3f5c !important;
}

.mat-stroked-button.proceso {
  color: #e7515a !important;
  border: 1px solid #e7515a !important;
}

.mat-stroked-button.asignado {
  color: #8dbf42 !important;
  border: 1px solid #8dbf42 !important;
}

.mat-stroked-button.pendiente {
  color: #3b3f5c !important;
  border: 1px solid #3b3f5c !important;
}

.mat-stroked-button.terminado {
  color: #2196f3 !important;
  border: 1px solid #2196f3 !important;
}

.mat-stroked-button.cerrado {
  color: #e7515a !important;
  border: 1px solid #e7515a !important;
}

.is-loading {
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 10000;
  position: absolute;
}
