// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
@import "./assets/styles/bootstrap-grid.min.css";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$omicron-primary: mat-palette($mat-indigo);
$omicron-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$omicron-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$omicron-theme: mat-light-theme($omicron-primary, $omicron-accent, $omicron-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($omicron-theme);

/* You can add global styles to this file, and also import other style files */
.custom-dialog-container .mat-dialog-container {
  margin-top: 10px;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Bootstrap 4 Fix for Angular Material */
[mat],
::after,
::before {
  box-sizing: unset;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.container-list-page{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;

}
.header-page{
  width: 100%;
  height: 12%;
  margin-top: .5%;
}
.list-users-container{
  width: 100%;
  height: 88%;
  display: flex;
  flex-direction: column;
}
.title-list-container{
  width: 50%;
  float: left;
}

.filter-select{
  width: 50%;
  float: right;
  text-align: right;
}

.filter-select .select-button{
  position: relative;
  padding: 9px 35px 10px 15px;
  border: 1px solid #e0e6ed;
  border-radius: 8px;
  transform: none;
  line-height: 17px;
  background-color: #fff;
  min-width: 115px;
  text-align: inherit;
  color: #3b3f5c;
  box-shadow: none;
  font-weight: 600;
  letter-spacing: 0;
}

.filter-select .select-button span{
  margin-top: -20px;
  color: #3b3f5c;
}

.title-list-container span{
  font-size: 26px;
  color: #3b3f5c;
  font-weight: 400;
}

.table-toolbar{
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.table-toolbar .table-toolbar-search{
  width: 30%;
  float: left;
}

.table-toolbar .table-toolbar-buttons{
  width: 70%;
  float: right;
  text-align: right;
}

.table-toolbar .table-toolbar-buttons button{
  margin-bottom: 15px;
  background-color: #6C90B3!important;
  color: #fff !important;
}

table {
  width: 100%;
}

th{
  color: #6C90B3 !important;
  font-weight: bold !important;
}

th.centered {
  text-align: center !important;
}

.ico-col-pri{
  color: #3C1053;
}

.ico-col-sec{
  color: #ff08a1;
}

.tdcell {
  font-size: 12px;
}

.tdcell-center{
  text-align: center;
}

/*@media(min-width: 769px){
  .cont-center{
      margin-left: 10%;
      margin-top: 2%;
      margin-right: 10%;
      margin-bottom: 5%;;
  }
}

@media(max-width: 768px){
  .cont-center{
      margin-left: 2%;
      margin-right: 2%;
      margin-top: 3rem;
  }
}
@media(min-width: 769px){
  .cont-center-notop{
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 5%;;
  }
}*/

/*body > app-root > mat-sidenav-container > mat-sidenav-content > app-general-services > div.cont-center > table{
  margin-top: 3rem !important;
}

body > app-root > mat-sidenav-container > mat-sidenav-content > app-guestscreen > div.cont-center > div.tab-top-space > mat-list{
  background-color:#fff;
}

@media(max-width: 768px){
  body > app-root > app-menu-bar > mat-sidenav-container > mat-sidenav-content > app-pre-registry > div.cont-center > mat-card > form > div.first-in-div > mat-form-field{
      display: block;
  }
}

@media(max-width: 768px){
  body > app-root > app-menu-bar > mat-sidenav-container > mat-sidenav-content > app-wizard > div.cont-center > div > mat-horizontal-stepper > div.mat-horizontal-content-container{
      margin-top: -2rem;
      }
  
      #mat-checkbox-1 > label,
      #mat-checkbox-2 > label{
          margin-top: 0.8rem;
      }
  }

  .title-head{
    font-size: x-large;
    font-style: unset;
    color: #1b4063;
  }

  .mat-form-field-infix{
    padding: 0px !important;
  }*/