apiVersion: batch/v1
kind: CronJob
metadata:
  name: finalize-productionorders-cronjob
  namespace: default
spec:
  schedule: "0 */2 * * *"
  timeZone: America/Mexico_City
  suspend: false # suspende el cron
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      # automountServiceAccountToken: false
      template:
        spec:
          # automountServiceAccountToken: false
          containers:
            - name: finalize-productionorders-container
              image: omicron.azurecr.io/omicronprod/finalizeproductionordersmagistrales-repository:latest
              imagePullPolicy: Always
              resources:
                limits:
                  memory: "200Mi"  
                  cpu: "90m"      
                requests:
                  memory: "100Mi"
                  cpu: "10m"
              env:
                - name: DOTNET_ENVIRONMENT
                  value: Production
                - name: REDIS_CONNECTION_STRING
                  valueFrom:
                    secretKeyRef:
                      name: omicron-prod
                      key: redis_connection_string
                - name: SEQLOG_SVC_SERVICE_HOST_NAME
                  valueFrom:
                    secretKeyRef:
                      name: omicron-prod
                      key: seqlog_svc_service_host_name
          restartPolicy: OnFailure
          imagePullSecrets:
            - name: pullsecret
