apiVersion: batch/v1
kind: CronJob
metadata:
  name: finalize-productionorders-cronjob
  namespace: default
spec:
  schedule: "0 */2 * * *"
  timeZone: America/Mexico_City
  suspend: false # suspende el cron
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      # automountServiceAccountToken: false
      template:
        spec:
          # automountServiceAccountToken: false
          containers:
            - name: finalize-productionorders-container
              image: omicron.azurecr.io/omicronprod/finalizeproductionordersmagistrales:latest
              imagePullPolicy: Always
              resources:
                limits:
                  memory: "200Mi"  
                  cpu: "90m"      
                requests:
                  memory: "100Mi"
                  cpu: "10m"
              env:
                - name: DOTNET_ENVIRONMENT
                  value: Production
                - name: REDIS_CONNECTION_STRING
                  valueFrom:
                    secretKeyRef:
                      name: omicron-prod
                      key: redis
                - name: TZ
                  value: America/Mexico_City
                - name: ASPNETCORE_ENVIRONMENT
                  value: Prod
                - name: KAFKA_EH_FQDN_2
                  valueFrom:
                    secretKeyRef:
                      name: omicron-prod
                      key: kafka_eh_fqdn_2
                - name: KAFKA_RETRYFINALIZEORDER_EH_NAME
                  valueFrom:
                    secretKeyRef:
                      name: omicron-prod
                      key: kafka_retryfinalizeorder_eh_name                    
                - name: KAFKA_RETRYFINALIZEORDER_EH_CONNECTION
                  valueFrom:
                    secretKeyRef:
                      name: omicron-prod
                      key: kafka_retryfinalizeorder_eh_connection
                - name: KAFKA_RETRYFINALIZEORDER_CONSUMER_GROUP
                  valueFrom:
                    secretKeyRef:
                      name: omicron-prod
                      key: kafka_retryfinalizeorder_consumer_group
          restartPolicy: OnFailure
          imagePullSecrets:
            - name: pullsecret
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: division-productionorderprocess-cronjob
  namespace: default
spec:
  schedule: "0 */2 * * *"
  timeZone: America/Mexico_City
  suspend: false # suspende el cron
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      # automountServiceAccountToken: false
      template:
        spec:
          # automountServiceAccountToken: false
          containers:
            - name: division-productionorderprocess-container
              image: omicron.azurecr.io/omicronprod/divisionproductionorderprocessmagistrales:latest
              imagePullPolicy: Always
              resources:
                limits:
                  memory: "200Mi"  
                  cpu: "90m"      
                requests:
                  memory: "100Mi"
                  cpu: "10m"
              env:
                - name: DOTNET_ENVIRONMENT
                  value: Production
                - name: REDIS_CONNECTION_STRING
                  valueFrom:
                    secretKeyRef:
                      name: omicron-prod
                      key: redis
          restartPolicy: OnFailure
          imagePullSecrets:
            - name: pullsecret            
