<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EH_FQDN" value="${KAFKA_SVC_SERVICE_HOST}:9092"/>
    <add key="EH_CONNECTION_STRING" value="Endpoint=sb://omidemo.servicebus.windows.net/;SharedAccessKeyName=sender;SharedAccessKey=LK/60ysxlyqnNJqJhcbiGeDOP8h1xG+JEY5/PJj9KPU=;EntityPath=ingesta-logs"/>
    <add key="EH_NAME" value="insertlogs"/>
    <add key="CONSUMER_GROUP" value="Prueba"/>
    <add key="CA_CERT_LOCATION" value="./cacert.pem"/>
    <add key="DbConnection" value ="Server=localhost;Port=5432;Uid=omicronuser;Pwd=Axity2020;Database=omicrondev"/>
  </appSettings>
</configuration>