.header-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 13%;

}
.navbar-header-container{
  width: 100%;
  border-radius: 8px;
  background: #6C90B3;
  height: 100%;
  max-height: 100%;
}
.home-option{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home-option svg {
  width: 25px;
  height: 25px;
  color: #e0e6ed;
  stroke-width: 1.3px; /*to see selected item */
}
.margin-left-navbar{
  margin-left: 15px;
}
.home-option a{
  border-right: 1px solid #515365;
}
.title-nav-header{
  font-size: 13px;
  font-weight: 400;
  color: #fafafa;

}
.title-user{
  width: 97%;
  height: 52%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.menu-header{
  width: 100%;
  height: 48%;
}

.user-logged-container{
  width: 80%;
}
.user-logged-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.user-title-container{
  margin-right: 2%;
}
.hello-text{
  color: #888ea8;
  font-size: .9em;
}
.user-title{
  color: #6C90B3;
  font-size: .9em;

}
.link-logout{
}
.dropdown-item a span{
  color: #3b3f5c;
  font-size: 13px;
  font-weight: 500;
}
.dropdown-item a{
  text-decoration: none;
}
.dropdown-menu{
  margin-right: 6%;
  margin-top: 2%;
  border-radius: .8rem;
}

.logo-nav-bar{
  width: 40%;
  height: 40%;
}
.footer {
  position: fixed;
  bottom: 0;

  span {
    font-size: smaller;
    font-weight: lighter;
  }
}
