.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.card-login-container{
  width: 45rem;
  height: 35rem;
  margin: auto;
}

//delete
.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}