<div class="form">
  <div class="form-container outer">
    <div class="form-form">
      <div class="form-form-wrap">
        <div class="form-container">
          <div class="form-content">
            <h1 class="">   <img src="assets/images/logo2.svg" class="navbar-logo" alt="logo"></h1>
            <p class="">Logueate con tu cuenta para iniciar sesión</p>

            <form [formGroup]="formLogin" class="text-left">
              <div class="">

                <div  class="field-wrapper input">
                  <label >Usuario</label>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                  <input  type="text" class="form-control" placeholder="">
                </div>



                <div  class="field-wrapper input mb-2">
                  <div class="d-flex justify-content-between">
                    <label >Contraseña</label>
                  </div>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                  <input type="password"   class="form-control" placeholder="">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"  class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                </div>

                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input new-checkbox-rounded new-control.new-checkbox.checkbox-outline-default" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Mantener sesión activa</label>
                </div> <br>
                <div class="d-sm-flex justify-content-between">
                  <div class="field-wrapper">
                    <a href="#"><button class="btn btn-primary" (click)="login()">Entrar</button></a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--
  <mat-card>
    <mat-card-header>
      Login
    </mat-card-header>
    <mat-card-content [formGroup]="formLogin">
      <mat-form-field class="login-field">
        <input matInput placeholder="Usuario" name="username" formControlName="username" required>
        <mat-error>
          <span *ngIf="formLogin?.controls.username?.errors?.required">Usuario requerido</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="login-field">
        <input matInput placeholder="Contraseña" name="password" formControlName="password" type="password" required>
        <mat-error>
          <span *ngIf="formLogin?.controls.password?.errors?.required">Contraseña requerida</span>
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" [disabled]="formLogin.invalid" (click)="login()">Ingresar</button>
    </mat-card-actions>
  </mat-card>
-->
</div>
