.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.card-login-container{
  border-radius: 20px;
  border: 1px solid #e0e6ed;
  -webkit-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.09019607843137255), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0 1px 11px 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.09019607843137255), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0 1px 11px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.09019607843137255), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0 1px 11px 0 rgba(0, 0, 0, 0.06);
  margin-top: 20px;
}
.title-login{
  font-size: .6em;
  color: #888ea8;
  font-weight: 600;
  margin-bottom: 35px;
  font-family: auto, serif;
}
.title-input{
  font-size: .6em;
  font-weight: 700;
  color: #3b3f5c;
}
.login-field{
  width: 100%;
  height: 40%;
}
.sesion-active-container {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.checkbox-container{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.session-active-title{
  margin-left: 15px;
  font-size: 1em;
  color: #acb0c3;
  letter-spacing: 1px;
}
.card-content-custom{
   padding: 5% 5% 0 5%;
   height: 16rem;
 }
.input-user-custom{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
mat-card img{
  margin-top: 1%;
}

.user-icon-login{
  width: 15%;
  height: 100%;
  display: flex;
}
.to-background-color svg{
  color: #888ea8;
  fill: rgba(0, 23, 55, 0.08);
}
.user-input-login{
  width: 85%;
  height: 100%;
  
}
.icon-close-pass{
  width: 15%;
  height: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
}
.input-pass-login{
  width: 70%;
  height: 100%;
}
.eye-pass-login{
  width: 15%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eye-pass-login button{
  color: #b0b0b0;
}

.actions-custom{
  padding: 5%;
  display: flex;
justify-content: center;
  height: 6rem;
}
.btn-login{
  width: 100%;
  color: #fff !important;
  background-color: #6C90B3!important;
  border-color: #6C90B3;
  height: 3rem;
}
