<div class="find-component-container">
    <mat-card class="component-card">
        <mat-card-header class="card-header-container">
            <mat-card-title><span>Buscar componentes</span>
            </mat-card-title>
            <mat-icon mat-dialog-close class="cursor-pointer">clear</mat-icon>
        </mat-card-header>
        <mat-card-content class="content-card-container">
            <div class="row-form">
                <div class="form-field-full">
                    <mat-form-field appearance="outline" class="custom-field-full generalinput example-chip-list">
                        <mat-chip-list #chipList aria-label="Fruit selection">
                          <mat-chip *ngFor="let word of keywords" [selectable]="selectable"
                                   [removable]="removable" (removed)="removeChip(word)">
                            {{word}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="Búsqueda de componentes..."
                                 [matChipInputFor]="chipList"
                                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                 [matChipInputAddOnBlur]="addOnBlur"
                                 (matChipInputTokenEnd)="addChip($event)">
                        </mat-chip-list>
                    </mat-form-field>
                    <!--<mat-form-field appearance="outline" class="custom-field-full generalinput">
                        <input matInput placeholder="Buscar componente" maxlength="60">
                    </mat-form-field>-->
                    <div class="table-container-component">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">                        
                            <ng-container matColumnDef="numero">
                                <th mat-header-cell *matHeaderCellDef class=""> N°</th>
                                <td mat-cell *matCellDef="let element;" class="color-text-intables tdcell numero">{{element.productId}}</td>
                            </ng-container>
                
                            <ng-container matColumnDef="descripcion">
                            <th mat-header-cell *matHeaderCellDef class="mobile-hide"> DESCRIPCIÓN </th>
                            <td mat-cell *matCellDef="let element;" class="color-text-intables tdcell tdemail mobile-hide descripcion"> {{element.description}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="color-text-intables"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <div class="no-users-registered mat-elevation-z8" *ngIf="dataSource.data.length === 0">
                            <span>No hay resultados</span>
                        </div>
                    </div>
                    <div *ngIf="dataSource.data.length !== 0" class="paginator-container">
                        <mat-paginator
                                [pageSizeOptions]="[5, 10, 15, 20]"
                                [pageSize]="pageSize"
                                [length]="lengthPaginator"
                                (page)="pageEvent = changeDataEvent($event)"
                        ></mat-paginator>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
