.find-component-container{
    width: 45rem;
    height: 35rem;
  }
  .component-card{
    width: 100%;
    height: 100%;
  }
  .card-header-container{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: #3b3f5c solid 1px;
  }
  .row-form{
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
  }
  .content-card-container{
    width: 100%;
    height: 75%;
  }
  .form-field-full{
    width: 100%;
    height: 100%;
    padding: 2%;
  }
  .custom-field-full{
    width: 100%;
    padding: 0.5%;
  }
  .margin-top-status{
    margin-top: 1.2%;
  }
  .options-footer{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .btn-cancel-modal{
    font-size: 1em;
    background-color: #fff;
    font-weight: 500;
    border: 1px solid #e8e8e8;
    color: #3b3f5c;
    padding: 0 10px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    margin: 5px;
    transition: all 0.35s ease;
  
  }
  .with-button-cancel {
    width: 7rem;
    height: 3rem;
  }
  .with-button-reset {
    width: 12rem;
    height: 3rem;
  }
  .btn-add-modal{
    width: 7rem;
    height: 3rem;
    font-size: 1em;
    color: #fff !important;
    background-color: #6C90B3!important;
    border: .1px solid #6C90B3;
    padding: 0 10px;
    text-shadow: none;
    font-weight: 300;
    word-wrap: break-word;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    margin: 5px;
    border-radius: .25rem;
    transition: all 0.35s ease;
  }
  .btn--modal:hover{
    width: 7.1rem;
    height: 3.1rem;
    font-size: 1em;
  
  }

  .seleccion{
    width: 3% !important;
  }

  .numero{
    width: 10% !important;
  }

  .descripcion{
    width: 87% !important;
  }
  