.custom-header-page-order {
  display: flex;
  flex-direction: row;
}
.width-icon-next-order {
  font-size: 40px !important;
}
.icon-next-container {
  padding: 20px;
}
.seleccion{
    width: 2% !important;
}

.consecutivo{
    width: 2% !important;
}

.of{
    width: 11% !important;
}

.codigoproducto{
    width: 10% !important;    
}

.descripcionproducto{
    width: 14%;
}

.cantplan{
    width: 9% !important;
}

.fechaorden{
    width: 11% !important;
}

.fechatermino{
    width: 11% !important;
}

.qfb{
    width: 11% !important;
}

.status{
    width: 10% !important;
}

.tdactions{
    width: 9% !important;
}

// ::ng-deep .mat-focused .mat-form-field-label {
//     /*change color of label  */
//     color: #6C90B3 !important;
// }
//   ::ng-deep.mat-form-field-underline {
//     /*change color of underline*/
//     background-color: #6C90B3 !important;
//   }
//   ::ng-deep.mat-form-field-ripple {
//     /*change color of underline when focused*/
//     background-color: #638db6 !important;
//   }

  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background: #6C90B3 !important; 
  }

  button.btnToolTip{
    font-size: 10px !important;
    text-align: left !important;
    padding: 0 !important;
    cursor: text !important;
  }
.img-comments {
  width: 30px;
  height: 30px;
}
.with-actions-custom {
  width: 40px;
}
.tdactions-centeres-elements {

  border-bottom-width: 0;
}
.icons-actions-container {
  width: 95px;
}
.custom-title-list-container {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
}


