div.docbase{
    margin-top: 5% !important;
}

.seleccion{
    width: 3% !important;
}

.consecutivo{
    width: 3% !important;
}

.of{
    width: 11% !important;
}

.codigoproducto{
    width: 11% !important;
}

.descripcionproducto{
    width: 13% !important;
}

.cantplan{
    width: 8% !important;
}

.fechaorden{
    width: 10% !important;
}

.fechatermino{
    width: 10% !important;
}

.qfb{
    width: 11% !important;
}

.status{
    width: 10% !important;
}

.tdactions{
    width: 10% !important;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label  */
    color: #6C90B3 !important;
}
  ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #6C90B3 !important;
  }
  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #638db6 !important;
  }

  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background: #6C90B3 !important; 
  }

  button.btnToolTip{
    font-size: 10px !important;
    text-align: left !important;
    padding: 0 !important;
    cursor: text !important;
  }
