.work-team-dialog {
    p {
        margin: 0;
    }
    .title {
        font-family: omicron-bold, Arial, Helvetica, sans-serif !important;
        color: #0081C2 !important;
        font-weight: bold !important;
        padding-bottom: 5px;
    }
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 350px;
    max-width: 100vw;
    height: auto;
    max-height: 380px;
    padding: 20px 30px;
    .work-team {
        flex-basis: 100%;
        overflow: auto;
    }
    .work-team-user {
        padding: 10px 0;
        border-bottom: 1px solid #d3d3d3;
    }
    .work-team-user:nth-child(odd) {
        background-color: #f1f2f3;
    }
    .button-content {
        padding: 10px 0;
        display: flex;
        justify-content: flex-end;
    }
}
.button-blue-user-list {
    background-color: #0081C2 !important;
    color: #fff !important;
}
