/* MODAL STYLES
-------------------------------*/
jw-modal {
    /* modals are hidden by default */
    display: none;

}
.jw-modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* z-index must be higher than .jw-modal-background */
    z-index: 1000;

    /* enables scrolling for tall modals */
    overflow: auto;


}
.jw-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #c7c5c5;
    opacity: 0.3;

    /* z-index must be below .jw-modal and above everything else  */
    z-index: 900;
}
.jw-modal-body {
    padding: 20px;
    background: #fff;

    /* margin exposes part of the modal background */
    margin: 40px;
}
.jw-modal-body-add-user {
    width: 33rem;
    height: 30rem;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    border-radius: .3rem;
    background: #fff;
    border: none;
    box-shadow: 0 0 15px 1px rgba(113, 106, 202, 0.2);
    /* margin exposes part of the modal background */
}
.jw-modal-body-edit-user{
    padding-top: 10%;
    padding-left: 30%;
    padding-right: 30%;

    background: #fff;
    /* margin exposes part of the modal background */
}

body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}
