<div class="add-user-container">
    <mat-card class="add-user-card">
        <mat-card-header class="card-header-container">
            <mat-card-title><span>Buscar usuarios</span>
            </mat-card-title>
            <mat-icon mat-dialog-close class="cursor-pointer">clear</mat-icon>

        </mat-card-header>
        <mat-card-content class="content-card-container">
            <form [formGroup]="searchUserForm" class="form-add-user" autocomplete="off">
                <div class="row-form-user padding-user">
                    <div class="form-field">
                        <mat-form-field class="custom-field">
                            <input matInput placeholder="Ingresa usuario" formControlName="userNameSe" maxlength="50" class="height-input">
                        </mat-form-field>
                    </div>
                    <div class="form-field">
                        <mat-form-field class="custom-field">
                            <input matInput placeholder="Nombre(s)" formControlName="firstNameSe" maxlength="50" class="height-input">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row-form-user">
                    <div class="form-field">
                        <mat-form-field class="custom-field magin-top-field">
                            <input matInput placeholder="Apellido(s)" formControlName="lastNameSe" maxlength="50" class="height-input">
                        </mat-form-field>
                    </div>
                    <div class="form-field">
                        <mat-form-field appearance="outline" class="custom-field margin-top-user-custom">
                            <mat-label>Selecciona rol</mat-label>
                            <mat-select formControlName="userTypeRSe">
                               <mat-option value="{{user.id}}"   *ngFor="let user of userRoles">{{user.description}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row-form-user">
                    <div class="form-field">
                        <mat-form-field appearance="outline" class="custom-field margin-top-user">
                            <mat-label>Selecciona asignación</mat-label>
                            <mat-select formControlName="asignableSe">
                                <mat-option value="1">Encendido</mat-option>
                                <mat-option value="0">Apagado</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-field">
                        <mat-form-field appearance="outline" class="custom-field margin-top-user">
                            <mat-label>Selecciona estatus</mat-label>
                            <mat-select formControlName="activoSe">
                                <mat-option value="1">Activo</mat-option>
                                <mat-option value="0">Inactivo</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
            </form>

        </mat-card-content>
        <mat-card-actions class="options-footer">
            <button mat-button class="btn-cancel-modal-custom box-shadow-cancel-custom" *ngIf="searchData.activoSe && searchData.activoSe !== '' ||
                                 searchData.asignableSe && searchData.asignableSe !== '' ||
                                 searchData.firstNameSe && searchData.firstNameSe !== '' ||
                                 searchData.lastNameSe && searchData.lastNameSe !== '' ||
                                 searchData.userNameSe && searchData.userNameSe !== '' ||
                                 searchData.userTypeRSe && searchData.userTypeRSe !== ''" (click)="resetSearchParams()">Reiniciar parámetros</button>
            <button mat-button mat-dialog-close class="btn-cancel-modal btn--modal">Cancelar</button>
            <button mat-button class="btn-add-modal btn--modal" mat-dialog-close [disabled]="!isCorrectData" (click)="searchUser()">
                <span>Buscar</span>
            </button>
        </mat-card-actions>
    </mat-card>
</div>
