//tabla productos
.consecutivo{
    width: 5% !important;
}

.codigoproducto{
    width: 15% !important;
}

.descripcion{
    width: 30% !important;
}

.almacen{
    width: 15% !important;
}

.cantreq{
    width: 15% !important;
}

.cantseleccionada{
    width: 15% !important;
}

//tabla lotes
.lotesconsecutivo{
    width: 25% !important;
}

.disponible{
    width: 20% !important;
}

.lotesseleccionado{
    width: 18% !important;
}

.lotesasignados{
    width: 23% !important;
}

.tdactions{
    width: 19% !important;
}

//tabla lotes-producto
.pllote{
    width: 30% !important;
}

.plseleccionada{
    width: 50% !important;
}

.table-pl .tdactions{
    width: 20% !important;
}

.clickable{
    cursor: pointer;
}

tr.selected{
    background-color:#0081C2 !important;
    font-family: omicron-bold, Arial, Helvetica, sans-serif !important;
    font-weight: bold !important;
}

tr.selected td {
    color: #fff !important;
}

.table-pl{
    margin-bottom: 20px !important;
}

tr.caduco td {
    color: red !important;
}
