//tabla productos
.consecutivo{
    width: 5% !important;
}

.codigoproducto{
    width: 15% !important;
}

.descripcion{
    width: 30% !important;
}

.almacen{
    width: 15% !important;
}

.cantreq{
    width: 15% !important;
}

.cantseleccionada{
    width: 15% !important;
}

//tabla lotes
.lotesconsecutivo{
    width: 10% !important;
}

.disponible{
    width: 35% !important;
}

.lotesseleccionado{
    width: 20% !important;
}

.cantasignado{
    width: 20% !important;
}

.lotesopciones{
    width: 15% !important;
}

//tabla lotes-producto
.pllote{
    width: 20% !important;
}

.plseleccionada{
    width: 60% !important;
}

.plopciones{
    width: 20% !important;
}

.clickable{
    cursor: pointer;
}