<div class="add-comments-container">
    <mat-card class="add-user-card">
        <mat-card-header class="card-header-container border-none">
            <mat-card-title ><span>Agregar comentarios</span>
            </mat-card-title>
            <button (click)="scroll(target)">Click to scroll</button>

            <mat-icon mat-dialog-close class="cursor-pointer">clear</mat-icon>

        </mat-card-header>
        <mat-card-content class="content-card-container">
                <div class="comment-content-container">
                    <div class="before-comments-container scroll-visible color-omicron font-style-omicron">
                        <div class="no-users-registered " *ngIf="arrayComments.length === 0">
                            <span>No hay comentarios</span>
                        </div>
                       <div class="comments-by-user" *ngFor="let comment of arrayComments">
                           {{comment}}
                       </div>
                        <div #target></div>
                    </div>
                    <textarea class="text-area-add-comments" cols="55" rows="6"
                              maxlength="1000"
                              [(ngModel)]="newComments"
                            >
                        </textarea>
                </div>


        </mat-card-content>
        <mat-card-actions class="options-footer">
            <button mat-button mat-dialog-close class="btn-cancel-modal btn--modal">Cancelar</button>
            <button mat-button [ngClass]="!(comments.trim().length > 4) ? 'disable-button-custom' : 'btn-add-modal btn--modal'" mat-dialog-close [disabled]="!(comments.trim().length > 4)" (click)="saveComments()">
                Guardar
            </button>
        </mat-card-actions>
    </mat-card>
</div>
