.add-comments-container{
  width: 30rem;
  height: 30rem;

  .custom-card-container {
    height: 65%;
  }

}
.custom-comments-container {
  height: 20rem;
}
.only-add-comments {
  height: 100% !important;
}
.text-area-add-comments {
  text-align: left;
  border: #6C90B3 .5px solid;
  resize: none;
  padding: 5px;
  border-radius: 5px;
  margin-top: 20px;
}
.options-footer{
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.custom-options-footer {
  height: 25%;
}
.comment-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.before-comments-container {
  width: 95%;
  height: 60%;
  border: #a79c9e .5px solid;
  border-radius: 10px;

}
.custom-before-container {
  height: 90% !important;
}
.disable-button-custom {
  width: 7rem;
  height: 3rem;
  background-color: #dbdfe4 !important;
  color: #424040 !important;
}
.comments-by-user {
  width: 100%;
  font-weight: 700;
  background-color: #eaeae8;
  padding: 5px;
  border-bottom-width: .5px;
  border-bottom-style: solid;
  border-bottom-color: #c5c5c7;
}
.card-header-container-custom {
  height: 9%;
}
.error-message-custom {
  font-size: 10px;
  margin-right: 40px;
}
