.add-comments-container{
  width: 30rem;
  height: 30rem;
}
.text-area-add-comments {
  text-align: left;
  border: #6C90B3 1px solid;
  resize: none;
  padding: 5px;
}
.options-footer{
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.comment-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
