.add-comments-container{
  width: 30rem;
  height: 30rem;
}
.text-area-add-comments {
  text-align: left;
  border: #6C90B3 1px solid;
  resize: none;
  padding: 5px;
}
.border-none{
  border: none;
}
.options-footer{
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.comment-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.before-comments-container {
  width: 95%;
  height: 60%;
  border: #a71d2a 1px solid;
}
.disable-button-custom {
  width: 7rem;
  height: 3rem;
  background-color: #dbdfe4 !important;
  color: #424040 !important;
}
