.container-list-page{
  width: 80%;
  height: 87%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.title-list-container{
  width: 100%;
  height: 50%;
  display: flex;

}
.list-users-container{
  width: 100%;
  height: 88%;
  display: flex;

  flex-direction: column;
}
.title-list-container span{
  font-size: 26px;
  color: #3b3f5c;
  font-weight: 400;
}
.tr-titles{
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: row;
  word-wrap: break-word;
  background: #fff;
  margin-bottom: 8px;
  border-radius: 6px;
  padding: 13px 18px;
  min-width: 767px;
  transition: all 0.35s ease;
  box-shadow: 0 2px 4px rgba(126,142,177,0.45);
}
.effect-hover:hover{
  padding: 13px;
}
.checked-general{
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons-in-general{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checked-general svg{
  cursor: pointer;
  color: #515365;
  width: 20px;
  fill: rgba(27, 85, 226, 0.23921568627450981);
}
.only-checked-principal svg {
  cursor: pointer;
  color: #515365;
  width: 20px;
  fill: rgba(27, 85, 226, 0.23921568627450981);
}
.name-title{
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rol-title{
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.status-title{
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.only-checked-principal{
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.font-style-headers{
  font-size: 16px;
  font-weight: 400;
  color: #3b3f5c;
}
.header-page{
  width: 100%;
  height: 12%;
  margin-top: .5%;
}
.add-user-container{
width: 100%;
  display: flex;
  justify-content: flex-end;
}
.user-list-from-service{
  width: 100%;
  /*  height: 100%;
    overflow-y: scroll;*/
}
.add-user-modal-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header-title-modal{
  width: 100%;
  height: 11%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #dee2e6;
  font-weight: 300;
}
.user-title-modal{
  width: 90%;
  height: 100%;
  padding: 10px;
  color: #3b3f5c;
  font-size: 1.5em;

}
.icon-close-modal span{
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}
.icon-close-modal{
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-modal{
  width: 100%;
  height: 74%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-row{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.input-row{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
}
.input-row span{
  font-size: 15px;
  color: #acb0c3;
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: .5rem;
}
.input-row input{
  border: 1px solid #bfc9d4;
  color: #3b3f5c;
  font-size: 1.1em;
  letter-spacing: 1px;
  height: calc(1.4em + 1.4rem + 2px);
  padding: .75rem 1.25rem;
  border-radius: 6px;
  width: 100%;
}
.footer-modal{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: flex-end;
}
.btns-modal{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn-cancel-modal{
  width: 7rem;
  height: 3rem;
  font-size: 1em;
  background-color: #fff;
  font-weight: 500;
  border: 1px solid #e8e8e8;
  color: #3b3f5c;
  padding: 0 10px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  margin: 5px;
  transition: all 0.35s ease;

}
.btn-add-modal{
  width: 7rem;
  height: 3rem;
  font-size: 1em;
  color: #fff !important;
  background-color: #6C90B3!important;
  border: .1px solid #6C90B3;
  padding: 0 10px;
  text-shadow: none;
  font-weight: 300;
  word-wrap: break-word;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  margin: 5px;
  border-radius: .25rem;
  transition: all 0.35s ease;
}
.btn--modal:hover{
  width: 7.1rem;
  height: 3.1rem;
  font-size: 1em;

}
.select-add-modal{
  background-color: #fff;
  border: 1px solid #bfc9d4;
  color: #323236;
  font-size: 1.1em;
  letter-spacing: 1px;
  height: calc(1.4em + 1.4rem + 2px);
  padding: .75rem 1.25rem;
  border-radius: 6px;
  width: 100%;
}


/* The container */
.container {
  width: 5%;
  height: 100%;
  display: flex;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #dedede;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #a7a5a5;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #1b55e2;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
