<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410977073741-fga9rhq2qm6bgqb0kaofndsvuguu0bs4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410977073741-fga9rhq2qm6bgqb0kaofndsvuguu0bs4</string>
	<key>API_KEY</key>
	<string>AIzaSyA8k_tvsaNclwOsgiDZdO30HF1S0yglmwU</string>
	<key>GCM_SENDER_ID</key>
	<string>410977073741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.axity.Omicron-QA</string>
	<key>PROJECT_ID</key>
	<string>omicron-qa</string>
	<key>STORAGE_BUCKET</key>
	<string>omicron-qa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410977073741:ios:68b7fc4a8eabc71ef07a04</string>
</dict>
</plist>