div.docbase{
    margin-top: 5% !important;
}

div.docbase-status{
    font-size: 12px !important;
}
.description-container {
    margin-top: 1%;
    width: 50%;
    text-align: left;
    font-size: 1em;
    color: #3b3f5c;
    font-weight: bold;

}
.margin-table{
    margin-bottom: 15px;
}
.seleccion{
    width: 3% !important;
}

.consecutivo{
    width: 3% !important;
}

.numero{
    width: 8% !important;
}

.descripcion{
    width: 13% !important;
}

.cantbase{
    width: 8% !important;
}

.cantreq{
    width: 8% !important;
}

.consumido{
    width: 8% !important;
}

.disponible{
    width: 8% !important;
}

.unidad{
    width: 8% !important;
}

.almacen{
    width: 8% !important;
}

.cantpend{
    width: 8% !important;
}

.enstock{
    width: 8% !important;
}

.cantalmacen{
    width: 10% !important;
}
.text-area-formula {
    text-align: left;
}
.comments-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-comments {
    width: 100%;
    height: 10%;
    font-size: 1em;
    color: #acb0c3;
    letter-spacing: 1px;
}
.text-area-comments {
    width: 100%;
    height: 90%;
}
::ng-deep .mat-form-field-infix { width: 80px !important; }

::ng-deep .mat-form-field-underline {
    display: none;
}
