
<div class="container-list-page">
    <div class="header-page">
      <div class="title-list-container">
        <span>Detalle</span>
        <div class="breadcrumb"><a class="breadcrumblink" (click)="goToOrders(['pedidos'])">Pedidos</a> / <a class="breadcrumblink" (click)="goToDetailOrder(['/pdetalle', oldDataFormulaDetail.baseDocument, 'Abierto'])">Detalle</a> / Formula </div>
      </div>
      <div class="filter-select">
        <div class="docbase">Documento base: {{oldDataFormulaDetail.baseDocument}} </div>
        <div class="docbase-status">Orden de fabricación: <span class="spnstatus">{{ordenFabricacionId}}</span> </div>
      </div>
    </div>
    <div class="description-container">
     {{dataService.getDetailOrderDescription()}}
    </div>
    <div class="table-toolbar">
        <div class="table-toolbar-search">

        </div>
        <div class="table-toolbar-buttons">
            <button mat-raised-button class="button-blue" [routerLink]="['/lotes', ordenFabricacionId]">
            &nbsp; Lotes &nbsp; 
            </button>
            &nbsp;
            &nbsp;
            <!--<button mat-raised-button class="button-blue">
            &nbsp; Mi lista de componentes &nbsp; 
            </button>
            &nbsp;
            &nbsp;
            <button mat-raised-button class="button-blue">
            &nbsp; Crear lista de componentes &nbsp; 
            </button>-->
            &nbsp;
            &nbsp;
            <button mat-raised-button class="button-blue" (click)="openDialog('searchComponent')">
            &nbsp; Agregar componente &nbsp; 
            </button>
            &nbsp;
            &nbsp;
            <button mat-raised-button [ngClass]="isComponentsToDelete ? 'button-blue' : 'disable-button'" [disabled]="!isComponentsToDelete" (click)="deleteComponents()">
            &nbsp; Eliminar componente &nbsp; 
            </button>
            &nbsp;
            &nbsp;
            <button mat-raised-button [ngClass]="isReadyToSave ? 'button-blue' : 'disable-button'" [disabled]="!isReadyToSave" (click)="saveFormulaDetail()">
            &nbsp; Guardar &nbsp; 
            </button>
        </div>
    </div>
    
    <div class="list-users-container">
        <mat-tab-group>
            <mat-tab label="General">
                <div style="margin-top: 10px;">
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 15.8%;">
                        <mat-label>Tipo</mat-label>
                        <input matInput placeholder="Tipo" disabled value="{{oldDataFormulaDetail.type}}">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 15.8%;">
                        <mat-label>Estado</mat-label>
                        <input matInput placeholder="Estado" disabled value="{{oldDataFormulaDetail.status}}">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="generalinput" style="width: 15.8%;">
                        <mat-label>Cantidad planificada</mat-label>
                        <input matInput placeholder="Cantidad planificada" disabled value="{{oldDataFormulaDetail.plannedQuantity}}">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 15.8%;">
                        <mat-label>Nombre de</mat-label>
                        <input matInput placeholder="Nombre de" disabled value="{{oldDataFormulaDetail.unit}}">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 15.8%;">
                        <mat-label>Almacén</mat-label>
                        <input matInput placeholder="Almacén" disabled value="{{oldDataFormulaDetail.warehouse}}">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 15.8%;">
                        <mat-label>N°</mat-label>
                        <input matInput placeholder="N°" disabled value="{{ordenFabricacionId}}">
                    </mat-form-field>
                </div>
                <div style="margin-top: 10px;">
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 32.5%;">
                        <mat-label>Cálculo de fecha de enrutamiento</mat-label>
                        <input matInput placeholder="Cálculo de fecha de enrutamiento" disabled value="{{oldDataFormulaDetail.endDate}}">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 24.1%;">
                        <mat-label>Fecha orden de fabricación</mat-label>
                        <input matInput placeholder="Fecha orden de fabricación" disabled value="{{oldDataFormulaDetail.fabDate}}">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 24.1%;">
                        <mat-label>Fecha de inicio</mat-label>
                        <input matInput placeholder="Fecha de inicio" disabled value="{{oldDataFormulaDetail.startDate}}">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="generalinput" style="width: 15.8%;">
                            <mat-label>Fecha de finalización</mat-label>
                            <input matInput [matDatepicker]="dp3" [(ngModel)]="endDateGeneral" (ngModelChange)="changeData()" [min]="minDate" readonly>
                            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                    </mat-form-field>
                </div>
                <div style="margin-top: 10px;">
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 24%;">
                        <mat-label>Usuario</mat-label>
                        <input matInput placeholder="Usuario" disabled value="{{oldDataFormulaDetail.user}}">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 15.8%;">
                        <mat-label>Origen</mat-label>
                        <input matInput placeholder="Origen" disabled value="{{oldDataFormulaDetail.origin}}">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 24%;">
                        <mat-label>Pedido de cliente</mat-label>
                        <input matInput placeholder="Pedido de cliente" disabled value="{{oldDataFormulaDetail.number}}">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 32.7%;">
                        <mat-label>Cliente</mat-label>
                        <input matInput placeholder="Cliente" disabled value="{{oldDataFormulaDetail.client}}">
                    </mat-form-field>
                </div>
                <div style="margin-top: 10px;">
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 32.5%;">
                        <mat-label>Cantidad completada</mat-label>
                        <input matInput placeholder="Cantidad completada" disabled value="{{oldDataFormulaDetail.completeQuantity}}">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 32.5%;">
                        <mat-label>Fecha de cierre real</mat-label>
                        <input matInput placeholder="Real fecha de término" disabled value="{{oldDataFormulaDetail.realEndDate}}">
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="Componentes">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 margin-table">
                    <ng-container matColumnDef="seleccion">&nbsp;
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox [checked]="allComplete" [indeterminate]="someComplete()" (change)="setAll($event.checked)"></mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element;" class="seleccion">
                        <mat-checkbox [(ngModel)]="element.isChecked" (ngModelChange)="updateAllComplete()"></mat-checkbox>
                    </td>
                    </ng-container>
                    <ng-container matColumnDef="cons">
                    <th mat-header-cell *matHeaderCellDef class="centered">#</th>
                    <td mat-cell *matCellDef="let element; let i = index;" class="color-text-intables tdcell tdcell-center consecutivo"> {{i+1}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="numero">
                        <th mat-header-cell *matHeaderCellDef class=""> N°</th>
                        <td mat-cell *matCellDef="let element;" class="color-text-intables tdcell numero">{{element.productId}}</td>
                    </ng-container>
        
                    <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide"> DESCRIPCIÓN </th>
                    <td mat-cell *matCellDef="let element;" class="color-text-intables tdcell tdemail mobile-hide descripcion"> {{element.description}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="cantbase">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide "> CANTIDAD BASE </th>
                    <td mat-cell *matCellDef="let element; let i = index;" class="color-text-intables tdcell mobile-hide cantbase"> <mat-form-field appearance="outline">
                        <input matInput type="number"
                               class="number color-number" placeholder="Cantidad base"
                               [(ngModel)]="element.baseQuantity"
                               (ngModelChange)="onBaseQuantityChange($event, i)">
                      </mat-form-field> </td>
                    </ng-container>
            
                    <ng-container matColumnDef="cantreq">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide">  CTD. REQUERIDA </th>
                    <td mat-cell *matCellDef="let element;let i = index;" class="color-text-intables tdcell mobile-hide cantreq"> <mat-form-field appearance="outline">
                        <input matInput type="number"
                               class="number color-number" placeholder="Cantidad requerida"
                               [(ngModel)]="element.requiredQuantity"
                               (ngModelChange)="onRequiredQuantityChange($event, i)">
                      </mat-form-field> </td>
                    </ng-container>
        
                    <ng-container matColumnDef="consumido">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide">  CONSUMIDO </th>
                    <td mat-cell *matCellDef="let element;" class="color-text-intables tdcell tdcell-left mobile-hide consumido"> {{element.consumed}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="disponible">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide">  DISPONIBLE </th>
                    <td mat-cell *matCellDef="let element;" class="color-text-intables tdcell tdcell-left mobile-hide disponible"> {{element.available}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="unidad">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide">  UNIDAD </th>
                    <td mat-cell *matCellDef="let element;" class="color-text-intables tdcell tdcell-left mobile-hide unidad"> {{element.unit}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="almacen">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide"> ALMACÉN </th>
                    <td mat-cell *matCellDef="let element;let i = index;" class="color-text-intables tdcell mobile-hide almacen">
                       <!-- {{element.warehouse}}-->
                        <mat-form-field appearance="fill">
                        <mat-select [(ngModel)]="element.warehouse" (ngModelChange)="onSelectWareHouseChange($event, i)">
                              <mat-option value="AMP" >
                                  AMP
                              </mat-option>
                              <mat-option value="BE">
                                  BE
                              </mat-option>
                            <mat-option value="GENERAL">
                                GENERAL
                            </mat-option>
                            <mat-option value="INCI">
                                INCI
                            </mat-option>
                            <mat-option value="MER">
                                MER
                            </mat-option>
                            <mat-option value="MG">
                                MG
                            </mat-option>
                            <mat-option value="MN">
                                MN
                            </mat-option>
                            <mat-option value="MP">
                                MP
                            </mat-option>
                            <mat-option value="PROD">
                                PROD
                            </mat-option>
                            <mat-option value="PRONATUR">
                                PRONATUR
                            </mat-option>
                            <mat-option value="PT">
                                PT
                            </mat-option>
                            <mat-option value="TALLERES">
                                TALLERES
                            </mat-option>
                            <mat-option value="WEB">
                                WEB
                            </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                    </ng-container>

                    <ng-container matColumnDef="cantpend">
                        <th mat-header-cell *matHeaderCellDef class="mobile-hide"> CANTIDAD PENDIENTE </th>
                        <td mat-cell *matCellDef="let element;" class="color-text-intables tdcell mobile-hide cantpend"> {{element.pendingQuantity}} </td>
                    </ng-container>

                    <ng-container matColumnDef="enstock">
                        <th mat-header-cell *matHeaderCellDef class="mobile-hide"> EN STOCK </th>
                        <td mat-cell *matCellDef="let element;" class="color-text-intables tdcell tdcell-left mobile-hide enstock"> {{element.stock}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cantalmacen">
                        <th mat-header-cell *matHeaderCellDef class="mobile-hide"> CANTIDAD EN ALMACÉN </th>
                        <td mat-cell *matCellDef="let element;" class="color-text-intables tdcell mobile-hide cantalmacen"> {{element.warehouseQuantity}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="color-text-intables"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-tab>
            <mat-tab label="Comentarios">
                         <div class="comments-container">
                             <div class="title-comments">
                                 <span>Comentarios</span>
                             </div>
                             <div class="text-area-comments">
                                 <textarea class="text-area-formula" cols="100" rows="12"
                                           maxlength="500"
                                           [(ngModel)]="comments"
                                           (ngModelChange)="changeData()"
                                           >
                                 </textarea>
                             </div>
                         </div>
            </mat-tab>
        </mat-tab-group>
        
    </div>
  </div>
