
<div class="container-list-page">
    <div class="header-page">
      <div class="title-list-container">
        <span>Detalle</span>
        <div class="breadcrumb"><a class="breadcrumblink" [routerLink]="['pedidos']">Pedidos</a> / Detalle</div>
      </div>
      <div class="filter-select">
        <div class="docbase">Documento base: {{docNum}} </div>
        <div class="docbase-status">Orden de fabricación: <span class="spnstatus">{{docStatus}}</span> </div>
      </div>
    </div>
  
    <div class="table-toolbar">
        <div class="table-toolbar-search">

        </div>
        <div class="table-toolbar-buttons">
            <button mat-raised-button class="button-blue">
            &nbsp; Lotes &nbsp; 
            </button>
            &nbsp;
            &nbsp;
            <button mat-raised-button class="button-blue">
            &nbsp; Mi lista de componentes &nbsp; 
            </button>
            &nbsp;
            &nbsp;
            <button mat-raised-button class="button-blue">
            &nbsp; Crear lista de componentes &nbsp; 
            </button>
            &nbsp;
            &nbsp;
            <button mat-raised-button class="button-blue">
            &nbsp; Agregar componente &nbsp; 
            </button>
            &nbsp;
            &nbsp;
            <button mat-raised-button class="button-blue">
            &nbsp; Eliminar componente &nbsp; 
            </button>
            &nbsp;
            &nbsp;
            <button mat-raised-button class="button-blue">
            &nbsp; Guardar &nbsp; 
            </button>
        </div>
    </div>
    
    <div class="list-users-container">
        <mat-tab-group>
            <mat-tab label="General">
                <div style="margin-top: 10px;">
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 15.8%;">
                        <mat-label>Tipo</mat-label>
                        <input matInput placeholder="Tipo" disabled value="ALGO">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 15.8%;">
                        <mat-label>Estado</mat-label>
                        <input matInput placeholder="Estado" disabled value="asdasd">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="generalinput" style="width: 15.8%;">
                        <mat-label>Cantidad planificada</mat-label>
                        <input matInput placeholder="Cantidad planificada" value="ALGO">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 15.8%;">
                        <mat-label>Nombre de</mat-label>
                        <input matInput placeholder="Nombre de" disabled value="ALGO">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 15.8%;">
                        <mat-label>Almacén</mat-label>
                        <input matInput placeholder="Almacén" disabled value="ALGO">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 15.8%;">
                        <mat-label>N°</mat-label>
                        <input matInput placeholder="N°" disabled value="ALGO">
                    </mat-form-field>
                </div>
                <div style="margin-top: 10px;">
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 32.5%;">
                        <mat-label>Cálculo de fecha de enrutamiento</mat-label>
                        <input matInput placeholder="Cálculo de fecha de enrutamiento" disabled value="ALGO">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 24.1%;">
                        <mat-label>Fecha orden de fabricación</mat-label>
                        <input matInput placeholder="Fecha orden de fabricación" disabled value="ALGO">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 24.1%;">
                        <mat-label>Fecha de inicio</mat-label>
                        <input matInput placeholder="Fecha de inicio" disabled value="ALGO">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="generalinput" style="width: 15.8%;">
                        <mat-label>Fecha de finalización</mat-label>
                        <input matInput placeholder="Fecha de finalización" value="ALGO">
                    </mat-form-field>
                </div>
                <div style="margin-top: 10px;">
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 24%;">
                        <mat-label>Usuario</mat-label>
                        <input matInput placeholder="Usuario" disabled value="ALGO">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 15.8%;">
                        <mat-label>Origen</mat-label>
                        <input matInput placeholder="Origen" disabled value="ALGO">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 24%;">
                        <mat-label>Pedido de cliente</mat-label>
                        <input matInput placeholder="Pedido de cliente" disabled value="ALGO">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 15.8%;">
                        <mat-label>Cliente</mat-label>
                        <input matInput placeholder="Cliente" disabled value="ALGO">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 15.8%;">
                        <mat-label>Cantidad planificada</mat-label>
                        <input matInput placeholder="Cantidad planificada" disabled value="ALGO">
                    </mat-form-field>
                </div>
                <div style="margin-top: 10px;">
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 32.5%;">
                        <mat-label>Cantidad completada</mat-label>
                        <input matInput placeholder="Cantidad completada" disabled value="ALGO">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="generalinput disabled" style="width: 32.5%;">
                        <mat-label>Fecha de cierre real</mat-label>
                        <input matInput placeholder="Cantidad completada" disabled value="ALGO">
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="Componentes">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="seleccion">&nbsp;
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox [checked]="allComplete" [indeterminate]="someComplete()" (change)="setAll($event.checked)"></mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element;" class="seleccion">
                        <mat-checkbox [(ngModel)]="element.isChecked" (ngModelChange)="updateAllComplete()"></mat-checkbox>
                    </td>
                    </ng-container>
                    <ng-container matColumnDef="cons">
                    <th mat-header-cell *matHeaderCellDef class="centered">#</th>
                    <td mat-cell *matCellDef="let element; let i = index;" class="color-text-intables tdcell tdcell-center consecutivo"> {{i+1}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="numero">
                        <th mat-header-cell *matHeaderCellDef class=""> N°</th>
                        <td mat-cell *matCellDef="let element;" class="color-text-intables tdcell numero">{{element.numero}}</td>
                    </ng-container>
        
                    <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide"> DESCRIPCIÓN </th>
                    <td mat-cell *matCellDef="let element;" class="color-text-intables tdcell tdemail mobile-hide descripcion"> {{element.descripcion}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="cantbase">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide "> CANTIDAD BASE </th>
                    <td mat-cell *matCellDef="let element;" class="color-text-intables tdcell mobile-hide cantbase"> <mat-form-field appearance="outline">
                        
                        <input matInput class="number" placeholder="Placeholder" value="{{element.cantidadBase}}">
                        
                        
                      </mat-form-field> </td>
                    </ng-container>
            
                    <ng-container matColumnDef="cantreq">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide">  CTD. REQUERIDA </th>
                    <td mat-cell *matCellDef="let element;" class="color-text-intables tdcell mobile-hide cantreq"> <mat-form-field appearance="outline">
                        
                        <input matInput class="number" placeholder="Placeholder" value="{{element.cantidadRequerida}}">
                        
                        
                      </mat-form-field> </td>
                    </ng-container>
        
                    <ng-container matColumnDef="consumido">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide">  CONSUMIDO </th>
                    <td mat-cell *matCellDef="let element;" class="color-text-intables tdcell mobile-hide consumido"> {{element.consumido}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="disponible">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide">  DISPONIBLE </th>
                    <td mat-cell *matCellDef="let element;" class="color-text-intables tdcell mobile-hide disponible"> {{element.disponible}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="unidad">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide">  UNIDAD </th>
                    <td mat-cell *matCellDef="let element;" class="color-text-intables tdcell tdcell-center mobile-hide unidad"> {{element.unidad}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="almacen">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide"> ALMACÉN </th>
                    <td mat-cell *matCellDef="let element;" class="color-text-intables tdcell mobile-hide almacen"> <mat-form-field appearance="fill">
                        <mat-select>
                          <mat-option value="MG">
                            MG
                          </mat-option>
                          <mat-option value="PT">
                            PT
                          </mat-option>
                        </mat-select>
                      </mat-form-field></td>
                    </ng-container>

                    <ng-container matColumnDef="cantpend">
                        <th mat-header-cell *matHeaderCellDef class="mobile-hide"> CANTIDAD PENDIENTE </th>
                        <td mat-cell *matCellDef="let element;" class="color-text-intables tdcell mobile-hide cantpend"> {{element.cantidadPendiente}} </td>
                    </ng-container>

                    <ng-container matColumnDef="enstock">
                        <th mat-header-cell *matHeaderCellDef class="mobile-hide"> EN STOCK </th>
                        <td mat-cell *matCellDef="let element;" class="color-text-intables tdcell tdcell-center mobile-hide enstock"> {{element.stock}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cantalmacen">
                        <th mat-header-cell *matHeaderCellDef class="mobile-hide"> CANTIDAD EN ALMACÉN </th>
                        <td mat-cell *matCellDef="let element;" class="color-text-intables tdcell mobile-hide cantalmacen"> {{element.cantidadAlmacen}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="color-text-intables"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-tab>
            <mat-tab label="Comentarios"> Content 3 </mat-tab>
        </mat-tab-group>
        
    </div>
  </div>
