
.seleccion{
    width: 3% !important;
}

.documento{
    width: 3% !important;
}

.codigocliente{
    width: 6% !important;
}

.cliente{
    width: 13% !important;
}

.medico{
    width: 13% !important;
}

.asesor{
    width: 13% !important;
}

.fechainicio{
    width: 10% !important;
}

.fechatermino{
    width: 10% !important;
}

.qfb{
    width: 8% !important;
}

.status{
    width: 8% !important;
}

.tdactions{
    width: 10% !important;
}
.actions-align-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hide { display: none; }
// ::ng-deep .mat-focused .mat-form-field-label {
//     /*change color of label  */
//     color: #6C90B3 !important;
//   }
//   ::ng-deep.mat-form-field-underline {
//     /*change color of underline*/
//     background-color: #6C90B3 !important;
//   }
//   ::ng-deep.mat-form-field-ripple {
//     /*change color of underline when focused*/
//     background-color: #638db6 !important;
//   }

  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background: #6C90B3 !important; 
  }

