.seleccion{
    width: 3% !important;
}

.documento{
    width: 9% !important;
}

.codigocliente{
    width: 6% !important;
}

.cliente{
    width: 10% !important;
}

.medico{
    width: 13% !important;
}

.asesor{
    width: 13% !important;
}

.fechainicio{
    width: 10% !important;
}

.fechatermino{
    width: 10% !important;
}

.qfb{
    width: 8% !important;
}

.status{
    width: 8% !important;
}

.tdactions{
    width: 10% !important;
}