
.seleccion{
    width: 3% !important;
}

.documento{
    width: 3% !important;
}

.codigocliente{
    width: 8% !important;
}

.cliente{
    width: 13% !important;
}

.medico{
    width: 13% !important;
}

.asesor{
    width: 13% !important;
}

.fechainicio{
    width: 9% !important;
}

.fechatermino{
    width: 9% !important;
}

.qfb{
    width: 8% !important;
}

.status{
    width: 8% !important;
}

.clasification{
    width: 9.5% !important;
}

.tdactions{
    width: 10% !important;
}
.actions-align-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.background-color-in-process {
    background-color: #e7515a;
    margin-left: 15px;
    color: white;
}
.hide { display: none; }

  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background: #6C90B3 !important; 
  }

  .receipt-icon-container {
    width:2.2em;
    height:2.5em;
    display: flex;
    align-items: center;
  }

