<div class="container-list-page">
    <div class="header-page">
        <div class="title-list-container">
            <span>Pedidos</span>
        </div>
        <div class="filter-select" *ngIf="!filterDataOrders.docNum || filterDataOrders.docNum === 0">
            <span class="dateType" *ngIf="isDateInit">
                Fecha inicio:
            </span>
            <span class="dateType" *ngIf="!isDateInit">
                Fecha finalización:
            </span>
            <span class="date-selected">
             {{ filterDataOrders.dateFull | dateformat }}
            </span>
        </div>
        <div class="filter-select" *ngIf="filterDataOrders.docNum && filterDataOrders.docNum !== 0">
            <span class="dateType">
                Rango de pedidos buscado:
            </span>
            <span class="date-selected">
             {{ filterDataOrders.docNum}}-{{filterDataOrders.docNumUntil ? filterDataOrders.docNumUntil : filterDataOrders.docNum}}
            </span>
        </div>
    </div>

    <div class="table-toolbar">
        <div class="refresh-icon-on-toolbar" (click)="getPedidos()">
            <app-button-refresh></app-button-refresh>
        </div>
        <div class="table-toolbar-buttons">
                <span class="material-icons icon-button-toolbar "
                      [ngClass]="isCheckedOrders ? 'color-omicron cursor-pointer' : 'disabled'"
                      (click)="printOrderAsPdfFile()"  matTooltip="Generar PDF"
                      matTooltipPosition="above" *ngIf="dataService.getUserRole() !== '4' && dataService.getUserRole() !== '5'">
                    print
                </span>
            <button mat-icon-button matTooltip="Ver pedidos" class="ico-col-pri generic" [ngClass]="!isTherePedidosToViewPdf ? 'cursor-none' : ''">
                <img *ngIf="!isTherePedidosToViewPdf" src="assets/icons/pdf.png" class="img-pdf-order-icon" alt="pdf"/>
                <svg *ngIf="isTherePedidosToViewPdf" (click)="viewPedidosWithPdf()" xmlns="http://www.w3.org/2000/svg" width="2.9em" height="3.2em" viewBox="0 0 348 359">
                    <defs>
                        <clipPath id="clip-PDF">
                            <rect width="348" height="359"/>
                        </clipPath>
                    </defs>
                    <g id="PDF" clip-path="url(#clip-PDF)">
                        <path id="Path_6016" data-name="Path 6016" d="M14,3V66.463A15.866,15.866,0,0,0,29.866,82.329H93.328" transform="translate(191.694 33.273)" fill="none" stroke="#5480a6" stroke-linecap="round" stroke-linejoin="round" stroke-width="15"/>
                        <path id="Path_6017" data-name="Path 6017" d="M195.388,288.584H36.731A31.731,31.731,0,0,1,5,256.852V34.732A31.731,31.731,0,0,1,36.731,3h111.06l79.328,79.329V256.852A31.731,31.731,0,0,1,195.388,288.584Z" transform="translate(57.902 33.273)" fill="none" stroke="#5480a6" stroke-linecap="round" stroke-linejoin="round" stroke-width="15"/>
                        <line id="Line_148" data-name="Line 148" y2="91" transform="translate(175 191)" fill="none" stroke="#5480a6" stroke-linecap="round" stroke-linejoin="round" stroke-width="15"/>
                        <path id="Path_6018" data-name="Path 6018" d="M9,14,54.46,59.46,99.92,14" transform="translate(119.365 222.935)" fill="none" stroke="#5480a6" stroke-linecap="round" stroke-linejoin="round" stroke-width="15"/>
                        <text id="PDF-2" data-name="PDF" transform="translate(82 104)" fill="#5480a6" font-size="51" font-family="Helvetica-Bold, Helvetica" font-weight="700"><tspan x="0" y="0">PDF</tspan></text>
                    </g>
                </svg>
            </button>
               <button mat-raised-button
                    class="button-blue"
                    (click)="requestMaterial()" *ngIf="dataService.getUserRole() !== '4' && dataService.getUserRole() !== '5'">Solicitud de insumos</button>
                <button [disabled]="!isThereOrdersToPlan" mat-raised-button
                        [ngClass]="isThereOrdersToPlan ? 'button-blue' : 'disable-button'"
                        (click)="processOrdersService()" *ngIf="dataService.getUserRole() !== '4' && dataService.getUserRole() !== '5'">Planificar</button>
                <button [disabled]="!isThereOrdersToPlace" mat-raised-button
                        [ngClass]="isThereOrdersToPlace ? 'button-blue' : 'disable-button'"
                        (click)="openPlaceOrdersDialog()" *ngIf="dataService.getUserRole() !== '4' && dataService.getUserRole() !== '5'">Asignar</button>
                <button [disabled]="!isThereOrdersToReassign" mat-raised-button
                        [ngClass]="isThereOrdersToReassign ? 'button-blue' : 'disable-button'"
                        (click)="reassignOrders()" *ngIf="dataService.getUserRole() !== '4' && dataService.getUserRole() !== '5'">Reasignar</button>
                <button [disabled]="!isThereOrdersToCancel" mat-raised-button
                              [ngClass]="isThereOrdersToCancel ? 'button-blue' : 'disable-button'"
                              (click)="cancelOrders()" *ngIf="dataService.getUserRole() !== '4' && dataService.getUserRole() !== '5'">Cancelar</button>
                <button  [disabled]="!isThereOrdersToFinalize" mat-raised-button
                               [ngClass]="isThereOrdersToFinalize ? 'button-blue' : 'disable-button'"
                               (click)="finalizeOrders()" *ngIf="dataService.getUserRole() !== '4' && dataService.getUserRole() !== '5'">Finalizar</button>
                <button [disabled]="!isThereOrdersToPlan" mat-raised-button
                        [ngClass]="isThereOrdersToPlan ? 'button-blue' : 'disable-button'"
                        (click)="ordersToRefuse()"
                        *ngIf="dataService.getUserRole() !== '4' && dataService.getUserRole() !== '5'">Rechazar</button>
                <button mat-raised-button class="button-blue " (click)="openFindOrdersDialog()" >
                    <mat-icon *ngIf="isSearchWithFilter">search
                    </mat-icon>Buscar</button>
        </div>
    </div>

    <div class="list-users-container">
        <div  class="table-container scroll-custom">
            <table mat-table [dataSource]="dataSource"  [ngClass]="dataSource.data.length !== 0 ? 'mat-elevation-z8': ''">
                <ng-container matColumnDef="seleccion">&nbsp;
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox [checked]="allComplete" [indeterminate]="someComplete()" (change)="setAll($event.checked)"></mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element" class="seleccion">
                        <mat-checkbox [(ngModel)]="element.isChecked" (ngModelChange)="updateAllComplete()"></mat-checkbox>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide"> PEDIDO </th>
                    <td mat-cell *matCellDef="let element" class="color-text-intables tdcell mobile-hide codigocliente"> {{element.docNum}} </td>
                </ng-container>

                <ng-container matColumnDef="cliente">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide">  NOMBRE DEL CLIENTE </th>
                    <td mat-cell matTooltip="{{element.cliente}}"
                    matTooltipPosition="right"
                    aria-label="Button that displays a tooltip in various positions" *matCellDef="let element" class="color-text-intables tdcell tdphone mobile-hide cliente"> {{(element.cliente.length > 25) ? (element.cliente | slice:0:25) + '...' : element.cliente}} </td>
                </ng-container>

                <ng-container matColumnDef="medico">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide">  NOMBRE DEL MEDICO </th>
                    <td mat-cell matTooltip="{{element.medico}}"
                    matTooltipPosition="right"
                    aria-label="Button that displays a tooltip in various positions" *matCellDef="let element" class="color-text-intables tdcell mobile-hide medico"> {{(element.medico.length > 25) ? (element.medico | slice: 0:25) + '...' : element.medico}} </td>
                </ng-container>

                <ng-container matColumnDef="asesor">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide">  NOMBRE DEL ASESOR </th>
                    <td mat-cell matTooltip="{{element.asesorName}}"
                    matTooltipPosition="right"
                    aria-label="Button that displays a tooltip in various positions" *matCellDef="let element" class="color-text-intables tdcell mobile-hide asesor"> {{(element.asesorName.length > 25) ? (element.asesorName | slice: 0:25) + '...' : element.asesorName}} </td>
                </ng-container>

                <ng-container matColumnDef="orderType">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide centered">CLASIFICACIÓN</th>
                    <td mat-cell *matCellDef="let element" class="color-text-intables tdcell tdcell-center mobile-hide style-button-status clasification">
                        <div class="center-status" *ngIf="element.orderType !== null && element.orderType !== '' ">
                            <button mat-stroked-button class="cursor-none"
                                    [ngClass]="element.classClasification">
                                {{element.orderType }}</button>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="f_inicio">
                    <th mat-header-cell *matHeaderCellDef class="centered mobile-hide">  FECHA INICIO </th>
                    <td mat-cell *matCellDef="let element" class="color-text-intables tdcell tdcell-center mobile-hide fechainicio"> {{element.fechaInicio.substring(10, 0)}} </td>
                </ng-container>

                <ng-container matColumnDef="f_fin">
                    <th mat-header-cell *matHeaderCellDef class="centered mobile-hide">  FECHA FINALIZACIÓN </th>
                    <td mat-cell *matCellDef="let element" class="color-text-intables tdcell tdcell-center mobile-hide fechatermino"> {{element.fechaFin.substring(10, 0)}} </td>
                </ng-container>

                <ng-container matColumnDef="qfb_asignado">
                    <th mat-header-cell *matHeaderCellDef class="centered mobile-hide">  QFB ASIGNADO </th>
                    <td mat-cell *matCellDef="let element" class="color-text-intables tdcell tdcell-center mobile-hide qfb"> {{element.qfb}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef class="centered mobile-hide">  ESTATUS </th>
                    <td mat-cell *matCellDef="let element" class="color-text-intables tdcell tdcell-center mobile-hide status style-button-status">
                        <div class="center-status">
                                <button mat-stroked-button matTooltipPosition="left" matTooltip="Ver detalle" (click)="openNewTabByOrder(element.docNum)"
                                        [ngClass]="element.pedidoStatus.toLowerCase() === 'c' ? 'close-sap' : element.class">
                                    {{element.pedidoStatus.toLowerCase() === 'c' ? 'Cerrado' : element.pedidoStatus }}</button>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef  class="centered">  ACCIONES </th>
                    <td mat-cell *matCellDef="let element" class="tdcell tdcell-center tdactions ">
                        <div class="actions-align-center">
                            <div class="receipt-icon-container">
                                <button mat-icon-button matTooltip="Ver receta" *ngIf="dataService.getUserRole() !== '4' && dataService.getUserRole() !== '5' && element.hasRecipte === '1'" (click)="toSeeRecipes(element.docNum)" class="ico-col-pri generic">
                                    <svg xmlns="http://www.w3.org/2000/svg"  width="2.3em" height="2.6em" viewBox="0 0 348 359">
                                        <defs>
                                            <clipPath id="clip-receta_negative">
                                                <rect width="348" height="359"/>
                                            </clipPath>
                                        </defs>
                                        <g id="receta_negative" data-name="receta – negative" clip-path="url(#clip-receta_negative)">
                                            <path id="Path_6022" data-name="Path 6022" d="M35,0,138.146,3.482c19.33,0,78.714,64.09,78.714,83.42L219,240a35,35,0,0,1-35,35H35A35,35,0,0,1,0,240V35A35,35,0,0,1,35,0Z" transform="translate(67 50)"/>
                                            <g id="Group_9824" data-name="Group 9824" transform="translate(-126.24 -9.988)">
                                                <path id="Path_6019" data-name="Path 6019" d="M14,3V64.241a15.31,15.31,0,0,0,15.31,15.31H90.551" transform="translate(317.338 56.502)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="15"/>
                                                <path id="Path_6020" data-name="Path 6020" d="M188.722,278.582H35.62A30.62,30.62,0,0,1,5,247.962V33.62A30.62,30.62,0,0,1,35.62,3H142.791l76.551,76.551V247.962A30.62,30.62,0,0,1,188.722,278.582Z" transform="translate(188.547 56.502)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="15"/>
                                                <line id="Line_149" data-name="Line 149" x2="14" transform="translate(255.24 149.988)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="15"/>
                                                <line id="Line_150" data-name="Line 150" x2="93" transform="translate(255.24 212.988)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="15"/>
                                                <line id="Line_151" data-name="Line 151" x2="93" transform="translate(255.24 273.989)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="15"/>
                                            </g>
                                        </g>
                                    </svg>
                                </button>
                                <button mat-icon-button matTooltip="Ver receta" *ngIf="dataService.getUserRole() !== '4' && dataService.getUserRole() !== '5' && element.hasRecipte === '2'" (click)="toSeeRecipes(element.docNum)" class="ico-col-pri generic">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="2.2em" height="2.5em" viewBox="0 0 348 359">
                                        <defs>
                                            <clipPath id="clip-receta">
                                                <rect width="348" height="359"/>
                                            </clipPath>
                                        </defs>
                                        <g id="receta" clip-path="url(#clip-receta)">
                                            <g id="Group_9824" data-name="Group 9824" transform="translate(-126.24 -9.988)">
                                                <path id="Path_6019" data-name="Path 6019" d="M14,3V64.241a15.31,15.31,0,0,0,15.31,15.31H90.551" transform="translate(317.338 56.502)" fill="none" stroke="#212121" stroke-linecap="round" stroke-linejoin="round" stroke-width="15"/>
                                                <path id="Path_6020" data-name="Path 6020" d="M188.722,278.582H35.62A30.62,30.62,0,0,1,5,247.962V33.62A30.62,30.62,0,0,1,35.62,3H142.791l76.551,76.551V247.962A30.62,30.62,0,0,1,188.722,278.582Z" transform="translate(188.547 56.502)" fill="none" stroke="#212121" stroke-linecap="round" stroke-linejoin="round" stroke-width="15"/>
                                                <line id="Line_149" data-name="Line 149" x2="14" transform="translate(255.24 149.988)" fill="none" stroke="#212121" stroke-linecap="round" stroke-linejoin="round" stroke-width="15"/>
                                                <line id="Line_150" data-name="Line 150" x2="93" transform="translate(255.24 212.988)" fill="none" stroke="#212121" stroke-linecap="round" stroke-linejoin="round" stroke-width="15"/>
                                                <line id="Line_151" data-name="Line 151" x2="93" transform="translate(255.24 273.989)" fill="none" stroke="#212121" stroke-linecap="round" stroke-linejoin="round" stroke-width="15"/>
                                            </g>
                                        </g>
                                    </svg>
                                </button>
                            </div>
                            <button mat-icon-button matTooltip="Etiqueta genérica" class="ico-col-pri generic cursor-none" *ngIf="element.labelType === 'G'">
                                <mat-icon >
                                    <svg *ngIf="element.finishedLabel === 0" xmlns="http://www.w3.org/2000/svg" width="2.2em" height="2.5em" viewBox="0 0 337 342">
                                        <defs>
                                            <clipPath id="clip-_3">
                                                <rect width="337" height="342"/>
                                            </clipPath>
                                        </defs>
                                        <g id="_3" data-name="3" clip-path="url(#clip-_3)">
                                            <g id="Group_9825" data-name="Group 9825" transform="translate(0 5)">
                                                <g id="pricetags" transform="translate(4.001 6.197)">
                                                    <path id="Path_6008" data-name="Path 6008" d="M303.625,129.724V46.362A30.268,30.268,0,0,0,273.324,16H190.01a20.752,20.752,0,0,0-14.578,6.025L8.872,188.538a30.4,30.4,0,0,0,0,42.928l79.3,79.294a30.39,30.39,0,0,0,42.921,0L297.6,144.3a20.739,20.739,0,0,0,6.025-14.578ZM238.563,102.75A21.688,21.688,0,1,1,260.25,81.062a21.688,21.688,0,0,1-21.687,21.688Z" transform="translate(-0.002 -16)" fill="#fff" stroke="#212121" stroke-width="8"/>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>

                                    <svg *ngIf="element.finishedLabel === 1" xmlns="http://www.w3.org/2000/svg" width="2.2em" height="2.5em" viewBox="0 0 337 342">
                                        <defs>
                                            <clipPath id="clip-path">
                                                <rect id="Rectangle_1569" data-name="Rectangle 1569" width="337" height="337" fill="#212121"/>
                                            </clipPath>
                                            <clipPath id="clip-_2">
                                                <rect width="337" height="342"/>
                                            </clipPath>
                                        </defs>
                                        <g id="_2" data-name="2" clip-path="url(#clip-_2)">
                                            <g id="_1_2" data-name="1 – 2" transform="translate(0 5)" clip-path="url(#clip-path)">
                                                <g id="pricetags" transform="translate(4 -4)">
                                                    <path id="Path_6008" data-name="Path 6008" d="M326.383,138.248V48.638A32.536,32.536,0,0,0,293.81,16H204.252a22.308,22.308,0,0,0-15.671,6.477L9.537,201.47a32.682,32.682,0,0,0,0,46.145l85.238,85.238a32.667,32.667,0,0,0,46.138,0L319.906,153.918a22.293,22.293,0,0,0,6.477-15.671Zm-69.939-29a23.313,23.313,0,1,1,23.313-23.313,23.313,23.313,0,0,1-23.313,23.313Z" transform="translate(-0.001 -5.803)" fill="#212121"/>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Etiqueta personalizada"  class="ico-col-pri person cursor-none" *ngIf="element.labelType === 'P'" >
                                <mat-icon>
                                    <svg *ngIf="element.finishedLabel === 0" xmlns="http://www.w3.org/2000/svg" width="2.3em" height="2.7em" viewBox="0 0 337 342">
                                        <defs>
                                            <clipPath id="clip-_1">
                                                <rect width="337" height="342"/>
                                            </clipPath>
                                        </defs>
                                        <g id="_1" data-name="1" clip-path="url(#clip-_1)">
                                            <g id="Group_9825" data-name="Group 9825" transform="translate(13 5)">
                                                <g id="pricetags" transform="translate(4.001 6.197)">
                                                    <path id="Path_6008" data-name="Path 6008" d="M303.625,129.724V46.362A30.268,30.268,0,0,0,273.324,16H190.01a20.752,20.752,0,0,0-14.578,6.025L8.872,188.538a30.4,30.4,0,0,0,0,42.928l79.3,79.294a30.39,30.39,0,0,0,42.921,0L297.6,144.3a20.739,20.739,0,0,0,6.025-14.578ZM238.563,102.75A21.688,21.688,0,1,1,260.25,81.062a21.688,21.688,0,0,1-21.687,21.688Z" transform="translate(-0.002 -16)" fill="#fff" stroke="#212121" stroke-width="8"/>
                                                </g>
                                            </g>
                                            <g id="user" transform="translate(59 99.463)">
                                                <path id="Path_6010" data-name="Path 6010" d="M75.6,86.312V78.618C85.881,72.827,94.255,58.4,94.255,43.965,94.255,20.791,94.255,2,66.278,2S38.3,20.791,38.3,43.965c0,14.436,8.374,28.862,18.651,34.654v7.694C25.321,88.895,1,104.441,1,123.231H131.557C131.557,104.441,107.236,88.895,75.6,86.312Z" transform="translate(8.325 16.726)" fill="#212121"/>
                                            </g>
                                        </g>
                                    </svg>
                                    <svg  *ngIf="element.finishedLabel === 1" xmlns="http://www.w3.org/2000/svg" width="2.3em" height="2.7em" viewBox="0 0 337 342">
                                        <defs>
                                            <clipPath id="clip-_6">
                                                <rect width="337" height="342"/>
                                            </clipPath>
                                        </defs>
                                        <g id="_6" data-name="6" clip-path="url(#clip-_6)">
                                            <g id="Group_9827" data-name="Group 9827" transform="translate(0 5)">
                                                <g id="pricetags" transform="translate(4 -4)">
                                                    <path id="Path_6008" data-name="Path 6008" d="M326.383,138.248V48.638A32.536,32.536,0,0,0,293.81,16H204.252a22.308,22.308,0,0,0-15.671,6.477L9.537,201.47a32.682,32.682,0,0,0,0,46.145l85.238,85.238a32.667,32.667,0,0,0,46.138,0L319.906,153.918a22.293,22.293,0,0,0,6.477-15.671Zm-69.939-29a23.313,23.313,0,1,1,23.313-23.313,23.313,23.313,0,0,1-23.313,23.313Z" transform="translate(-0.001 -5.803)" fill="#212121"/>
                                                </g>
                                                <g id="user" transform="translate(59 100.463)">
                                                    <path id="Path_6010" data-name="Path 6010" d="M75.6,86.312V78.618C85.881,72.827,94.255,58.4,94.255,43.965,94.255,20.791,94.255,2,66.278,2S38.3,20.791,38.3,43.965c0,14.436,8.374,28.862,18.651,34.654v7.694C25.321,88.895,1,104.441,1,123.231H131.557C131.557,104.441,107.236,88.895,75.6,86.312Z" transform="translate(8.325 16.726)" fill="#fff"/>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Etiqueta mixta"  class="ico-col-pri person cursor-none" *ngIf="element.labelType === 'M'" >
                                <mat-icon>
                                    <svg *ngIf="element.finishedLabel === 0" xmlns="http://www.w3.org/2000/svg" width="2.3em" height="2.7em" viewBox="0 0 337 337">
                                        <defs>
                                            <clipPath id="clip-_1_6">
                                                <rect width="337" height="337"/>
                                            </clipPath>
                                        </defs>
                                        <g id="_1_6" data-name="1 – 6" clip-path="url(#clip-_1_6)">
                                            <g id="pricetags" transform="translate(27.258 26.663)">
                                                <path id="Path_6008" data-name="Path 6008" d="M303.625,129.724V46.362A30.268,30.268,0,0,0,273.324,16H190.01a20.752,20.752,0,0,0-14.578,6.025L8.872,188.538a30.4,30.4,0,0,0,0,42.928L88.167,310.76a30.39,30.39,0,0,0,42.921,0L297.6,144.3a20.739,20.739,0,0,0,6.025-14.578Z" transform="translate(-0.002 -16)" fill="#fff" stroke="#212121" stroke-width="5"/>
                                            </g>
                                            <g id="pricetags-2" data-name="pricetags" transform="translate(4.001 6.197)">
                                                <path id="Path_6008-2" data-name="Path 6008" d="M303.625,129.724V46.362A30.268,30.268,0,0,0,273.324,16H190.01a20.752,20.752,0,0,0-14.578,6.025L8.872,188.538a30.4,30.4,0,0,0,0,42.928L88.167,310.76a30.39,30.39,0,0,0,42.921,0L297.6,144.3a20.739,20.739,0,0,0,6.025-14.578ZM238.563,102.75A21.688,21.688,0,1,1,260.25,81.062,21.688,21.688,0,0,1,238.563,102.75Z" transform="translate(-0.002 -16)" fill="#fff" stroke="#212121" stroke-width="5"/>
                                            </g>
                                            <rect id="Rectangle_1567" data-name="Rectangle 1567" width="171" height="92" transform="translate(162.798 272.204) rotate(-135)" fill="#212121"/>
                                        </g>
                                    </svg>
                                    <svg *ngIf="element.finishedLabel === 1" xmlns="http://www.w3.org/2000/svg" width="2.3em" height="2.7em" viewBox="0 0 337 337">
                                        <defs>
                                            <clipPath id="clip-_1_7">
                                                <rect width="337" height="337"/>
                                            </clipPath>
                                        </defs>
                                        <g id="_1_7" data-name="1 – 7" clip-path="url(#clip-_1_7)">
                                            <g id="pricetags" transform="translate(27.258 26.663)">
                                                <path id="Path_6008" data-name="Path 6008" d="M303.625,129.724V46.362A30.268,30.268,0,0,0,273.324,16H190.01a20.752,20.752,0,0,0-14.578,6.025L8.872,188.538a30.4,30.4,0,0,0,0,42.928L88.167,310.76a30.39,30.39,0,0,0,42.921,0L297.6,144.3a20.739,20.739,0,0,0,6.025-14.578ZM238.563,102.75A21.688,21.688,0,1,1,260.25,81.062,21.688,21.688,0,0,1,238.563,102.75Z" transform="translate(-0.002 -16)" fill="#212121" stroke="#fff" stroke-width="1"/>
                                            </g>
                                            <g id="pricetags-2" data-name="pricetags" transform="translate(4.001 6.197)">
                                                <path id="Path_6008-2" data-name="Path 6008" d="M303.625,129.724V46.362A30.268,30.268,0,0,0,273.324,16H190.01a20.752,20.752,0,0,0-14.578,6.025L8.872,188.538a30.4,30.4,0,0,0,0,42.928L88.167,310.76a30.39,30.39,0,0,0,42.921,0L297.6,144.3a20.739,20.739,0,0,0,6.025-14.578ZM238.563,102.75A21.688,21.688,0,1,1,260.25,81.062,21.688,21.688,0,0,1,238.563,102.75Z" transform="translate(-0.002 -16)" fill="#212121" stroke="#fff" stroke-width="5"/>
                                            </g>
                                            <rect id="Rectangle_1567" data-name="Rectangle 1567" width="171" height="92" transform="translate(162.798 272.204) rotate(-135)" fill="#fff"/>
                                        </g>
                                    </svg>
                                </mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="color-text-intables"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div class="no-users-registered mat-elevation-z8" *ngIf="dataSource.data.length === 0">
                <span *ngIf="!isOnInit">No hay pedidos registrados</span>
                <span *ngIf="isOnInit"> Cargando pedidos ...</span>
            </div>
        </div>
        <div *ngIf="dataSource.data.length !== 0" class="paginator-container">
            <mat-paginator
                    [pageSizeOptions]="[5, 10, 15 ,20]"
                    [pageSize]="limit"
                    [length]="lengthPaginator"
                    [pageIndex]="pageIndex"
                    (page)="pageEvent = changeDataEvent($event)"
            ></mat-paginator>
        </div>
    </div>
</div>
