<div class="container-list-page">
    <div class="header-page">
        <div class="title-list-container">
            <span>Pedidos</span>
        </div>
        <div class="filter-select" *ngIf="!filterDataOrders.docNum || filterDataOrders.docNum === 0">
            <span class="dateType" *ngIf="isDateInit">
                Fecha inicio:
            </span>
            <span class="dateType" *ngIf="!isDateInit">
                Fecha finalización:
            </span>
            <span class="date-selected">
             {{ filterDataOrders.dateFull}}
            </span>
        </div>
        <div class="filter-select" *ngIf="filterDataOrders.docNum && filterDataOrders.docNum !== 0">
            <span class="dateType">
                Número de pedido buscado:
            </span>
            <span class="date-selected">
             {{ filterDataOrders.docNum}}
            </span>
        </div>
    </div>

    <div class="table-toolbar">
        <div class="refresh-icon-on-toolbar" (click)="getPedidos()">
            <span class="material-icons color-omicron cursor-pointer">
                refresh
            </span>
        </div>
        <div class="table-toolbar-buttons">
                <span class="material-icons icon-button-toolbar " [ngClass]="isCheckedOrders ? 'color-omicron cursor-pointer' : 'disabled'" (click)="printOrderAsPdfFile()"  matTooltip="Generar PDF" matTooltipPosition="above">
                    print
                </span>
                <button [disabled]="!isThereOrdersToPlace" mat-raised-button
                    [ngClass]="isThereOrdersToPlace ? 'button-blue' : 'disable-button'"
                    (click)="requestMaterial()">Solicitud de insumos</button>    
                <button [disabled]="!isThereOrdersToPlan" mat-raised-button
                        [ngClass]="isThereOrdersToPlan ? 'button-blue' : 'disable-button'"
                        (click)="processOrdersService()">Planificar</button>
                <button [disabled]="!isThereOrdersToPlace" mat-raised-button
                        [ngClass]="isThereOrdersToPlace ? 'button-blue' : 'disable-button'"
                        (click)="openPlaceOrdersDialog()">Asignar</button>
                <button [disabled]="!isThereOrdersToReassign" mat-raised-button
                        [ngClass]="isThereOrdersToReassign ? 'button-blue' : 'disable-button'"
                        (click)="reassignOrders()">Reasignar</button>
                <button [disabled]="!isThereOrdersToCancel" mat-raised-button
                              [ngClass]="isThereOrdersToCancel ? 'button-blue' : 'disable-button'"
                              (click)="cancelOrders()">Cancelar</button>
                <button  [disabled]="!isThereOrdersToFinalize" mat-raised-button
                               [ngClass]="isThereOrdersToFinalize ? 'button-blue' : 'disable-button'"
                               (click)="finalizeOrders()">Finalizar</button>
                <button mat-raised-button class="button-blue " (click)="openFindOrdersDialog()" >
                    <mat-icon *ngIf="isSearchWithFilter">search
                    </mat-icon>Buscar</button>
        </div>
    </div>

    <div class="list-users-container">
        <div  class="table-container scroll-custom">
            <table mat-table [dataSource]="dataSource"  [ngClass]="dataSource.data.length !== 0 ? 'mat-elevation-z8': ''">
                <ng-container matColumnDef="seleccion">&nbsp;
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox [checked]="allComplete" [indeterminate]="someComplete()" (change)="setAll($event.checked)"></mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element" class="seleccion">
                        <mat-checkbox [(ngModel)]="element.isChecked" (ngModelChange)="updateAllComplete()"></mat-checkbox>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="cons">
                    <th mat-header-cell *matHeaderCellDef class="centered">#</th>
                    <td mat-cell *matCellDef="let element; let i = index;" class="color-text-intables tdcell tdcell-center documento"> {{i+1}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide"> PEDIDO </th>
                    <td mat-cell *matCellDef="let element" class="color-text-intables tdcell mobile-hide codigocliente"> {{element.docNum}} </td>
                </ng-container>

                <ng-container matColumnDef="cliente">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide">  NOMBRE DEL CLIENTE </th>
                    <td mat-cell matTooltip="{{element.cliente}}"
                    matTooltipPosition="right"
                    aria-label="Button that displays a tooltip in various positions" *matCellDef="let element" class="color-text-intables tdcell tdphone mobile-hide cliente"> {{(element.cliente.length > 25) ? (element.cliente | slice:0:25) + '...' : element.cliente}} </td>
                </ng-container>

                <ng-container matColumnDef="medico">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide">  NOMBRE DEL MEDICO </th>
                    <td mat-cell matTooltip="{{element.medico}}"
                    matTooltipPosition="right"
                    aria-label="Button that displays a tooltip in various positions" *matCellDef="let element" class="color-text-intables tdcell mobile-hide medico"> {{(element.medico.length > 25) ? (element.medico | slice: 0:25) + '...' : element.medico}} </td>
                </ng-container>

                <ng-container matColumnDef="asesor">
                    <th mat-header-cell *matHeaderCellDef class="mobile-hide">  NOMBRE DEL ASESOR </th>
                    <td mat-cell matTooltip="{{element.asesorName}}"
                    matTooltipPosition="right"
                    aria-label="Button that displays a tooltip in various positions" *matCellDef="let element" class="color-text-intables tdcell mobile-hide asesor"> {{(element.asesorName.length > 25) ? (element.asesorName | slice: 0:25) + '...' : element.asesorName}} </td>
                </ng-container>

                <ng-container matColumnDef="f_inicio">
                    <th mat-header-cell *matHeaderCellDef class="centered mobile-hide">  FECHA INICIO </th>
                    <td mat-cell *matCellDef="let element" class="color-text-intables tdcell tdcell-center mobile-hide fechainicio"> {{element.fechaInicio.substring(10, 0)}} </td>
                </ng-container>

                <ng-container matColumnDef="f_fin">
                    <th mat-header-cell *matHeaderCellDef class="centered mobile-hide">  FECHA FINALIZACIÓN </th>
                    <td mat-cell *matCellDef="let element" class="color-text-intables tdcell tdcell-center mobile-hide fechatermino"> {{element.fechaFin.substring(10, 0)}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef class="centered mobile-hide">  ESTATUS </th>
                    <td mat-cell *matCellDef="let element" class="color-text-intables tdcell tdcell-center mobile-hide status style-button-status">
                        <div class="center-status">
                            <button mat-stroked-button [ngClass]="element.class">{{element.pedidoStatus}}</button>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="qfb_asignado">
                    <th mat-header-cell *matHeaderCellDef class="centered mobile-hide">  QFB ASIGNADO </th>
                    <td mat-cell *matCellDef="let element" class="color-text-intables tdcell tdcell-center mobile-hide qfb"> {{element.qfb}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef  class="centered">  ACCIONES </th>
                    <td mat-cell *matCellDef="let element" class="tdcell tdcell-center tdactions">
                        <button mat-icon-button class="ico-col-pri">
                            <a target="_blank" [routerLink]="['/pdetalle', element.docNum]">
                                <mat-icon><svg matTooltip="Ver detalle" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" width="2em" height="2em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36"><path d="M32 6H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h28a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2zM19 22H9a1 1 0 0 1 0-2h10a1 1 0 0 1 0 2zm8-4H9a1 1 0 0 1 0-2h18a1 1 0 0 1 0 2zm0-4H9a1 1 0 0 1 0-2h18a1 1 0 0 1 0 2z" class="clr-i-solid clr-i-solid-path-1" fill="#626262"></path></svg></mat-icon>
                            </a>
                        </button>
                        <span (click)="toSeeRecipes(element.docNum)" matTooltip="Ver receta" class="material-icons cursor-pointer">
                           receipt_long
                        </span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="color-text-intables"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div class="no-users-registered mat-elevation-z8" *ngIf="dataSource.data.length === 0">
                <span *ngIf="!isOnInit">No hay pedidos registrados</span>
                <span *ngIf="isOnInit"> Cargando pedidos ...</span>
            </div>
        </div>
        <div *ngIf="dataSource.data.length !== 0" class="paginator-container">
            <mat-paginator
                    [pageSizeOptions]="[5, 10, 15 ,20]"
                    [pageSize]="limit"
                    [length]="lengthPaginator"
                    [pageIndex]="pageIndex"
                    (page)="pageEvent = changeDataEvent($event)"
            ></mat-paginator>
        </div>
    </div>
</div>
