<div class="find-component-container">
    <mat-card class="component-card">
        <mat-card-header class="card-header-container">
            <mat-card-title>Crear lista</mat-card-title>
            <mat-icon mat-dialog-close class="cursor-pointer">clear</mat-icon>
        </mat-card-header>
        <mat-card-content class="content-card-container">
            <div class="row-form">
                <div class="form-field-full">
                    <mat-form-field appearance="outline" class="custom-field-full generalinput fsize">
                        <mat-label style="font-size: 16px !important;">{{data.code}}</mat-label>
                        <input matInput [placeholder]="'Nombre de la lista'" [formControl]="name" required/>
                        <mat-error *ngIf="name.invalid">
                            Este campo es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions class="options-footer">
            <button mat-button mat-dialog-close class="btn-cancel-modal btn--modal with-button-cancel">Cancelar</button>
            <button mat-button class="btn-add-modal btn--modal" [disabled]="name.invalid" (click)="saveMyList()">
                <span>Guardar lista</span>
            </button>
        </mat-card-actions>
    </mat-card>
</div>
