name: omicron-magistrales-ios-sonar
on:
  workflow_dispatch:
  pull_request:
    branches:
      - develop
      - release/Sprint12
    paths:
      - frontend/ios/**
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
jobs:
  test:
    name: test ios app
    runs-on: [self-hosted, mac-os]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set Branch Environment Variables
        uses: iamtheyammer/branch-env-vars@v1.2.1
        with:
          IOS_ENV: |
            master:release
            release/Sprint12:qa
            release/Uat:uat
            develop:dev
            !default:dev

      - uses: actions/cache@v3
        with:
          path: frontend/ios/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles(format('{0}/{1}', 'frontend/ios', 'Podfile.lock')) }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Test frontend/ios
        run: fastlane metrics_${{ env.IOS_ENV }}
        working-directory: frontend/ios

      # - name: Microsoft Teams Notification
      #   uses: skitionek/notify-microsoft-teams@master
      #   if: ${{ always() }}
      #   with:
      #     webhook_url: ${{ secrets.MSTEAMS_WEBHOOK }}
      #     needs: ${{ toJson(needs) }}
      #     job: ${{ toJson(job) }}
      #     steps: ${{ toJson(steps) }}
