.history-material-component{
    .filters-contain{
        padding: 20px auto;
        display: flex;
        flex-wrap: wrap;
        .date-filter, .status-filter{
            padding: 0px 10px 0px 0px;
            width: 250px;
            mat-form-field{
                width: 100%;
            }
        }
    }
    .padding-v-m{
        padding: 10px 0px;
    }
}